[2022-07-06 21:41] antiagainst commented on #7618
Related: https://github.com/iree-org/iree/issues/9617

[2022-07-06 22:08] alliemartens commented on #7879
@hanhanW Old issue alert! Is this still active?

[2022-07-06 22:10] #7879 closed

[2022-07-06 22:55] rsuderman commented on #9617
https://reviews.llvm.org/D129236 should fix the spirv issues

[2022-07-07 03:06] ScottTodd commented on #9717
Maybe try with `--iree-llvm-link-embedded=false`, to use the system linker instead of embedded ELF? That, along with `--iree-llvm-debug-symbols=true` (the default) has been enough for other tools to see source information.

[2022-07-07 03:37] dcaballe opened #9726 "Add StripDebugInfo pass our MLIR pipeline"
### Request description

The `StripDebugInfo` pass in MLIR core is useful to remove the debug information from all the MLIR operations. It would be great if we could add it to our pipeline under a flag. Removing the MLIR-related debug information is critical when we have to provide an LLVM-IR reproducer, especially when it's large, since de debug information can add a considerable amount of noise

[2022-07-07 07:00] hanhanW commented on #6995
The issue is that we have `arith.uitofp i32 -> f32` case. In this case, the check failed, so we're not able to lower it to vm dialect. I think it's reasonable to convert it to vm.uitofp if the src type is signless integer. WDYT?

https://github.com/iree-org/iree/pull/9727 fixes the issue.

[2022-07-07 07:07] hanhanW commented on #6601
The tests have been enabled, closing the issue.

[2022-07-07 07:07] #6601 closed

[2022-07-07 07:07] hanhanW commented on #6000
The tests have been enabled, closing the issue.

[2022-07-07 09:37] hanhanW commented on #9717
I tried with `--iree-llvm-link-embedded=false` when using Tracy. With the flag, I do see the image mapping to `/tmp/iree_dylib...`. But I still can't get the asm view. Are we able to do it with Tracy? It would be very helpful because Tracy also collects some HW samples.

<img width="1432" alt="image" src="https://user-images.githubusercontent.com/6949191/177739476-1a8d72a8-a62d-4bef-bcd5-9c03159c8

[2022-07-07 13:26] stellaraccident commented on #9712
Thanks! I assume we need to do that special casing in IREE once this patch is integrated?

[2022-07-07 13:52] matthias-springer commented on #9712
Yes, I'm going to implement that in IREE after the next LLVM integrate.

[2022-07-07 14:33] bjacob commented on #9717
Indeed, `--iree-llvm-link-embedded=false` is the first step. The symptom you're observing here --- you can see the symbols but still don't get the disasm --- typically means that you also need to rebuild the Tracy profiler UI (`iree-tracy-profiler`) with this "dirty hack" patch as explained here:
https://github.com/iree-org/iree/blob/main/docs/developers/developing_iree/profiling_with_tracy.md#pat

[2022-07-07 15:15] hanhanW commented on #9717
Thanks for the great input! I was not aware that there is a doc. It's much informative than the doc I've seen before. I'll give it a shot!

[2022-07-07 17:25] okkwon commented on #9139
A PR for the first part is under review. https://github.com/iree-org/iree/pull/9693

[2022-07-07 17:49] powderluv commented on #9301
we are using this patch locally in SHARK https://github.com/iree-org/iree/commit/49c983cf21ea633b161e423a0c2c27c0a0816847

[2022-07-07 18:01] antiagainst commented on #9623
The upstream patch is integrated into IREE now. I'll close this given no further work needed. Please feel free to verify and reopen or create new issues if you still see problems! :)

[2022-07-07 18:01] #9623 closed

[2022-07-07 18:52] alliemartens commented on #9716
Sure! @powderluv FYI adding this bug to our hotlist.

[2022-07-07 19:12] alliemartens commented on #9726
@dcaballe @benvanik Any idea of priority for this? P1 or P2?

[2022-07-07 19:17] alliemartens commented on #8827
@hanhanW @ThomasRaoux @MaheshRavishankar @nicolasvasilache
Old issue alert! Still active? P1 or P2?

[2022-07-07 19:18] alliemartens commented on #6742
@benvanik @MaheshRavishankar Old issue alert! Still active? P1 or P2?

[2022-07-07 19:32] alliemartens commented on #7311
@stellaraccident Old issue alert! Still active?

[2022-07-07 19:33] alliemartens commented on #4437
@stellaraccident Old issue alert! Still active?

[2022-07-07 20:39] #9456 closed

[2022-07-07 21:17] #6995 closed

[2022-07-07 22:20] rsuderman commented on #8932
Working for the static cases now so closing. We can fix dynamic topk when it proves useful.

[2022-07-07 23:24] phoenix-meadowlark opened #9738 "Gradient of depthwise convolution in JAX fails compilation due to incorrect shape inference"
Compiling the gradient of a depthwise convolution fails with the following shape inference error during `ConvertMHLOToLinalgOnTensors`:

[code]

### Reproducers

MLIR Reproducer:

[code]

Error:

[code]

Original Python:

[code]

### What component(s) does this issue relate to?

Frontends, Compiler

### Version information

IREE Commit: 6b9fdbe1b18fd4fd1fbbc291f3a02c4252608986

[2022-07-08 00:27] #7311 closed

[2022-07-08 00:33] okkwon opened #9739 "[CUDA] Support codegen for a dispatch with reduction + elementwise ops."
### Request description

With the change in the dispatch fusion at https://github.com/iree-org/iree/pull/9693, we can put reduction and elementwise ops together in a dispatch, but the CUDA backend fails to compile. (x86_64, ARM, and vulkan are fine.)

LLVMGPUReduceToGPU fails to compile. See more info at https://github.com/iree-org/iree/pull/9693#issuecomment-1172760969

On the CPU side the loop f

[2022-07-08 00:42] okkwon opened #9740 "[dispatch] Fuse softmax"
### Request description

With the [fusion](https://github.com/iree-org/iree/pull/9693) of reduction and elementwise ops, we now generate the following dispatches, and dispatch 10 and 11 can be fused into a single dispatch too.

The case is from miniLM.

![image](https://user-images.githubusercontent.com/4314836/177893844-af6badfe-685a-4978-9a6f-e3ab5358e89a.png)

### What component(s) does this is

[2022-07-08 07:37] hanhanW commented on #9717
BIG thanks to @bjacob ! I followed the doc, and applied the patch (with `baseAddr -= 1;` version). It does work really nice to me on x86. I'm able to get source + assembly view for matmul microbenchmarks. (Some samples work and some samples do not work. The reason could be sample rate or something else.)

![image](https://user-images.githubusercontent.com/6949191/177937121-33282db0-8214-4d53-8d24-

[2022-07-08 07:37] #9717 closed

[2022-07-08 13:52] bjacob commented on #9717
Woohoo!

I'll mention on the Tracy PR where the patch lives, that you found the ` baseAddr -= 1;` version useful on x86. It would still be very useful to understand the root problem there.

Too bad that you're not getting MLIR source view for the e2e model. i haven't run into that situation before. I guess that's what you would get if the module lacked debug information. As was mentioned above, yo

[2022-07-08 17:32] alliemartens commented on #9738
Assigning to @jpienaar @rsuderman to give this a priority.

[2022-07-08 17:33] alliemartens commented on #4905
@stellaraccident Another old one, still active?

[2022-07-08 17:35] alliemartens commented on #7612
Assigning to @jpienaar @rsuderman to set priority and assignees.

[2022-07-08 18:04] jpienaar commented on #7359
I think P2 but assignee TBD. Someone more familiar with python/iree/compiler/tools/debugging.py preferred.

[2022-07-08 18:05] alliemartens commented on #7359
Sounds good, let's go with P2 no assignee just yet. Thanks!

[2022-07-08 18:09] jpienaar commented on #9738
This could be due to legalization to LinAlg here, I set to P2 but Rob on rotation to adjust

[2022-07-08 18:53] antiagainst commented on #8731
The issue is still `tosa.apply_scale` lowering generating `i64` `arith` ops, though now in `ConvertToSPIRVPass` itself. (The TOSA lowering should be moved earlier in the pipeline, but that's a separate issue.) There are bugs regarding `i64` `arith` ops in SPIR-V conversion right now if the target does not natively support `i64`. I expect this to be fixed once we have https://github.com/iree-org/ir

[2022-07-08 18:57] benvanik commented on #8731
I don't know if "fixed" so much as worked-around - having i64 emulation on hot paths isn't great :)
If we do start putting i64 emulation on hot paths we should make sure to track that - it's the kind of death-by-a-thousand-papercuts work that is hard to track down later and lowers the performance ceiling. Do we know if any other tosa-to-vulkan target (are there any?) does this?

[2022-07-08 19:06] benvanik opened #9747 "Add post-host-wait timepoint elision to iree-stream-elide-timepoints pass."
Today the pass is only looking at timepoint dependencies in order to elide redundant waits - we should also look for waits that can be elided due to a prior host wait on the code path. Unlike the basic timepoint elision there's no SSA value chain and instead we'll need to look at execution order/reachability/dominance. I know I've written that before but can't find it.

Example (from unidirectiona

[2022-07-08 20:06] antiagainst commented on #8731
Yup, I see your points and agreed. :) It's best to avoid the 64-bit calculation entirely if possible. That would save us from all these pain and performance penalty. I'm not super familiar with all the numeric nuances  behind `tosa.apply_scale`; just from my quick reading over the `tosa.apply_scale` spec, it might be hard given the whole definition is tied to i64 and "All arithmetic is designed so

[2022-07-08 20:16] GMNGeoffrey commented on #7898
I think we can presume that this is an issue in upstream MHLO and close this. Please reopen if you identify this as an IREE issue.

[2022-07-08 20:16] #7898 closed

[2022-07-08 22:32] silvasean opened #9749 "error: failed to materialize conversion for result #0 of operation 'arith.constant' that remained live after conversion"
### What happened?

[code]

Full error log: https://gist.github.com/silvasean/27f5a847ae58028020aec5d7904f3e73

### Steps to reproduce your issue

[code]

[code]

### What component(s) does this issue relate to?

Compiler

### Version information

ca51bc61ab5a921b4150faf64422e4f92b2325cb

### Additional context

_No response_

[2022-07-08 22:47] monorimet commented on #9536
@hanhanW

The golden values from TF on the a2-highgpu-1g instance are different from the ones generated on other configs. Note that we've experienced this numerics issue only on the a2-highgpu-1g instances.

It's also worth noting that TF appears to utilize the A100 gpu to generate the model and golden values for our tests even when we are using CPU to generate mlir/vmfb and execute via IREE.

We'

[2022-07-08 23:32] okkwon opened #9750 "Constant fold of tensor ops"
### Request description

We may further fold constant by calculating tensor ops. Here is an example from PoseNet in the IREE benchmark suite.

<img width="880" alt="image" src="https://user-images.githubusercontent.com/4314836/178081719-fac771d2-7ed9-4af3-ba77-d8352e266bd8.png">

dispatch_71 is purely dependent on the constant inputs and can be folded into the <2xi32> constant value.

The implemen

[2022-07-08 23:33] okkwon commented on #9750
The pattern is repeating in the graph. [dispatch.pdf](https://github.com/iree-org/iree/files/9075456/dispatch.pdf)

[2022-07-08 23:40] benvanik commented on #9750
This should already be getting folded - we have a whole thing that does this constant evaluation and hosting - it's likely just getting missed.

If the hoist into globals pass is running and that isn't getting hoisted then that's likely the issue: https://github.com/iree-org/iree/blob/06bd50a6c69dde29a1fdb1525f21166b897f9d4e/compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp#L139-L145

[2022-07-09 00:47] okkwon commented on #9750
Thanks Ben. I will take a look.

[2022-07-09 01:20] stellaraccident commented on #9750
We don't have those flags on by default as they need more testing and tuning and was waiting for good opportunities: https://github.com/iree-org/iree/blob/main/docs/website/docs/reference/optimization-options.md

You need both `--iree-opt-const-expr-hoisting` and `--iree-opt-const-eval`.

[2022-07-09 01:58] benvanik commented on #9750
Good point stella! iree-benchmark-module doesn't measure init time and so just doing the const-expr-hoisting and running the benchmarks should show whether it's worth it to potentially const eval something. So start with making sure the hoisting is working and then the tradeoff of binary size vs runtime init cost is something orthogonal.

[2022-07-09 07:16] dcaballe commented on #9198
I think we are mixing a couple of concepts here: on one side we have the “framework-level gather” and on the other side we have the “vector-level gather”. They don't mean the same so there shouldn’t be a one-to-one mapping between them. If a specific framework-level gather is actually a sub-tensor or some sort of contiguous slice of a tensor, that shouldn’t lead to a vector gather but to loops, as

[2022-07-11 03:27] hanhanW commented on #8827
It looks like something related to @okkwon 's recent work. And they're landed with default=false in IREE?

[2022-07-11 03:35] hanhanW commented on #9536
It sounds really bad. The golden values should be identical. They should not be platform/target dependent. It could let us run into wrong direction in terms of optimization. Because we won't really know if our optimization is acceptable to the model or not.

I can give it a shot on a2-highgpu-1g again if you can send us a fresh set of artifacts. Thanks!

[2022-07-11 04:02] stellaraccident commented on #9536
Is this issue really closed? I had trouble following the last part about golden values. Seemed not our problem?

[2022-07-11 04:12] hanhanW commented on #9536
The issue about reassoc is fixed. The output values from IREE are accurate on my workstation. I haven't tested it on a2-highgpu-1g yet.

I'll check if IREE's results between different machines match or not later today. If they match, the issues are about "golden values". In this context, it's not IREE's problem.

[2022-07-11 07:06] hanhanW commented on #9536
I verified that the results from `a2-highgpu-1g` and my workstation are identical. The max diff is exactly `0`. This is not a numeric issue on IREE side. The issue happens in "golden values". Please make sure that the TF implementation generates good outputs or compare the results with real golden values.

[2022-07-11 17:01] ThomasRaoux commented on #8827
This is slightly different than what Okwan is doing as the idea was to fuse transpose with consumers. Right now we decided not to do it. I think we will eventually still want some support for it but probably not for a while. I agree I think it should be low priority at this point.

[2022-07-11 17:03] ThomasRaoux commented on #8827
@nirvedhmeshram, I'm removing you from assignee since I don't expect you to work on it any time soon

[2022-07-11 18:00] MaheshRavishankar opened #9758 "Vectorization of `linalg.generic` to `vector.contract` introduces associative re-ordering of floating point operations"
Following up from https://github.com/iree-org/iree/issues/9536#issuecomment-1164650157 , vectorization of `linalg.generic` operation with `reduction` iterator types that generates a `vector.contract` does a associative reordering of operations.

This sequence of operations

[code]

lowers to

[code]

The intended use in the generic operation is similar to this

[code]

The lowered code though is i

[2022-07-11 19:17] MaheshRavishankar commented on #9536
I filed a separate bug for tracking one of the associative reordering issues. I think this issue can be closed. One of the models still seems to have some correctness issue, that also probably needs to be tracked by a separate bug.

@powderluv I'd consider this particular issue closed. Can we run the crank again and file separate issue for any new issues?

[2022-07-11 19:23] MaheshRavishankar commented on #6742
I think I dropped the ball on this one. Didnt follow up based on regression on my change. Its more than a year old. I'd vote to close it. I cant see the history of this benchmark since then on our dash board though to see if this regression has been convered. Overall there are related issues similar to this one (https://github.com/iree-org/iree/issues/9660 for example is the inverse of this). So t

[2022-07-11 19:48] pzread commented on #9167
Done with #9625

[2022-07-11 23:49] rsuderman opened #9764 "Support for simple TFLite dynamic shape computations"
### Request description

In some simple cases we can be left with what appears to be a dynamic shape computation. In these cases it is technically expressible under `tosa` however requires multiple operations to be folded together and statically analyzed. A simple example is shown below.

[code]

This case contains some basic reshaping however the output shape of the final reshape is unknown as it

[2022-07-12 02:58] pzread opened #9766 "Missing benchmark results causes Linux benchmark pipeline failed"
### What happened?

The comment posting step expects the `benchmark-results-*.json` exists and downloads them. However, if only the RISC-V benchmark pipeline is triggered, there is no benchmark result and the downloading will fail.

Sample: https://buildkite.com/iree/iree-benchmark-linux/builds/701#0181ef5e-2530-4d56-bc0e-c5dc45e72761

### Steps to reproduce your issue

1. Only add `buildkite:benc

[2022-07-12 06:37] hanhanW commented on #9536
It's been tracked in https://github.com/iree-org/iree/issues/9716

[2022-07-12 16:30] okkwon commented on #9699
Done by https://github.com/iree-org/iree/pull/9741/

[2022-07-12 16:30] #9699 closed

[2022-07-12 16:37] okkwon opened #9772 "[flow] Extend reduction fusion by relaxing the existing conditions"
### Request description

Currently, there are several restrictions to match simple reduction + broadcast + elementwise.

1. The number of inputs to reduction is 1 or 2.
2. One of them is identity and the other one is identity or broadcast.
3. The elementwise op does not have an output transpose.
4. A same indexing map is used for reduction and broadcast.

By relaxing these conditions, we may cover

[2022-07-12 17:51] #9617 closed

[2022-07-12 20:09] manishucsd commented on #9395
Patch targeting verifiers for `mma.sync` is in progress: https://reviews.llvm.org/D129400

[2022-07-13 00:22] #9641 closed

[2022-07-13 04:08] stellaraccident opened #9778 "VM conversion of memref.alloca does not promote integer types"
This:
[code]

Is getting lowered to this:

[code]

The VM ConvertMemRefAllocaOp pattern is the culprit. It does not have size promotion logic to match load/store conversions. Adding this little patch gets all of these working:

[code]

Not arguing we do it just like that. Ideally, I would like a utility that alloc/load/store call to appropriately widen their fundamental access type. And that shoul

[2022-07-13 04:11] benvanik commented on #9778
you can use `IREE::Util::getRoundedElementByteWidth` - that does the right rounding and is what we use in other places

[2022-07-13 04:27] stellaraccident commented on #9778
We should probably fix load/store to round properly too vs just checking specific step-sizes of bit width.

[2022-07-13 14:28] #9712 closed

[2022-07-13 16:09] #6742 closed

[2022-07-13 16:22] alliemartens commented on #5447
@ScottTodd Should we give this a priority if still open? P1/2?

[2022-07-13 16:25] alliemartens commented on #9190
@not-jenni Can you help give this a priority as you are on frontend rotation this week?

[2022-07-13 16:26] alliemartens commented on #8149
@not-jenni Can you help review and prioritize this on frontend rotation this week?

[2022-07-13 16:27] alliemartens commented on #7194
@not-jenni Can you help review and prioritize this on frontend rotation this week?

[2022-07-13 16:27] ScottTodd commented on #5447
This just needs someone to verify that requirements are set up correctly and then prune the docs. P2/P3.

[2022-07-13 16:28] alliemartens commented on #5295
@stellaraccident Old issue alert! Still active?

[2022-07-13 16:28] alliemartens commented on #8217
@not-jenni Can you help review and prioritize this on frontend rotation this week?

[2022-07-13 16:29] alliemartens commented on #8658
@not-jenni Can you help review and prioritize this on frontend rotation this week?

[2022-07-13 16:29] alliemartens commented on #6356
@stellaraccident Old issue alert! Still active?

[2022-07-13 16:30] alliemartens commented on #9764
@rsuderman @jpienaar Please add priority to this new issue.

[2022-07-13 16:30] #7540 closed

[2022-07-13 17:12] #9286 closed

[2022-07-13 20:16] pzread commented on #9198
Thanks for the suggestions! @dcaballe

So from my understanding on the MLIR ops, there are two types of gather ops:
- Select slices on a specified dim
  - [tosa.gather](https://mlir.llvm.org/docs/Dialects/TOSA/#tosagather-mlirtosagatherop)
  - [mhlo.torch_index_select](https://www.tensorflow.org/mlir/hlo_ops#mhlotorch_index_select_mlirmhlotorchindexselectop)
  - [mhlo.gather](https://www.tensorflo

[2022-07-13 20:58] #9766 closed

[2022-07-13 23:29] manishucsd commented on #9395
Patch targeting verifiers for `ldmatrix` is in progress https://reviews.llvm.org/D129669

[2022-07-14 02:47] dcaballe commented on #9198
Thanks for investigating this further and sharing all the pointers! I think I now have a much better idea of where things stand!

A dedicated op would be easier to vectorize and lower than inferring the memory access pattern from a `tensor.extract`. However, I'm not sure if it would be strictly necessary for vectorization (perhaps it brings more value to other transformations?). Teaching the vecto

[2022-07-14 03:42] MaheshRavishankar commented on #9198
Have been meaning to respond to this thread, but kept getting distracted, so sorry for the delay. I tried to  read through the discussion above, but I dont think I understand all the discussions, mainly because there is a lot of discussion related to how a particular op from tosa/mhlo, etc. are lowered. I think the problem statement is not how you vectorize these tosa/mhlo ops, but rather how do y

[2022-07-14 04:18] jpienaar commented on #9669
Local reproducer

[code]

$tools/iree-opt /tmp/repro.mlir

results in

failed to legalize operation 'mhlo.scatter' that was explicitly marked illegal

unfortunately notifyMatchFailure isn't used so debug output is just

//===-------------------------------------------===//
Legalizing operation : 'mhlo.scatter'(0x8ea4b50) {
  * Fold {
  } -> FAILURE : unable to fold

  * Pattern : 'mhlo.scatter ->

[2022-07-14 05:33] dcaballe commented on #9198
Thanks, Mahesh! I think we are all aligned! You are summarizing the key points of the previous discussions and the conclusions we are reaching :). The only open questions were if 1) there was any value in introducing a `linalg.gather` op to simplify vectorization and, 2) if `vector.gather` should be extended to support n-D cases.

The discussion about tosa/mhlo ops was to scope the use cases that

[2022-07-14 10:25] hanhanW commented on #9717
update -- I was not able to disasm some dispatches because capstone 4 is too old. I need capstone 5 for x86 development (e.g, to disasm vxorps ops). I'm able to do it and can update the doc for x86 part.

[2022-07-14 11:39] bjacob commented on #9717
Great! I was actually wondering if you would run into that. The doc mentions using capstone's `next` branch for some recent architecture but could use an update saying it's needed also on x86:
https://github.com/iree-org/iree/blob/main/docs/developers/developing_iree/profiling_with_tracy.md#do-you-need-capstone-next

[2022-07-14 14:00] hanhanW commented on #9717
Yeah, I saw the hint but was not aware of it. It just failed silently. Also, I'm actually surprised that the default version is still 4, not 5. The patch was checked into "next" branch two years ago. ;D

I'm going to spend some time on disappeared source view and make sure there are no other surprise..

[2022-07-14 17:47] pzread commented on #9198
I think we are pretty aligned, thanks for all the comments : )

@MaheshRavishankar pointed out an interesting way. For `tensor.extract` on an n-D table, we can peel outer dims with loops and use `vector.gather` on the innermost dim if it isn't contiguous. At this point, we only need to handle the 1-D lookup table.

This sounds like a clean way to me, assuming there is no benefit to passing n-D vec

[2022-07-14 17:53] alliemartens commented on #9318
@pzread Is there any update here?

[2022-07-14 17:54] alliemartens commented on #9537
From meeting today, draft PR up, @powderluv checking

[2022-07-14 18:11] pzread commented on #9318
#9791 will finish this task.

[2022-07-14 18:18] dcaballe commented on #9198
The main problem with not modeling this as an n-D vector.gather is that we would be anticipating and materializing n-D to 1-D lowering decisions that may or may not be aligned with the lowering decisions happening down the road for other ops. For example, we may decide to unroll the outer dimension of the vector, instead of generating a loop (we are actually doing this by default). We would also h

[2022-07-14 20:12] antiagainst opened #9796 "Numeric error for quantized mobilebert after LLVM integration"
The following tests fail after integration #9790:

[code]

More relavent [logs](https://source.cloud.google.com/results/invocations/79cb2c66-32f4-4f60-9a23-f8c123ad4ae0/targets/iree%2Fgcp_ubuntu%2Fcmake-bazel%2Flinux%2Fx86-swiftshader%2Fpresubmit/log):

[code]

The test is disabled to push forward integration.

[2022-07-14 21:05] pzread commented on #9716
@hanhanW Is 1.50368261 the correct value? I reran your sample on CascadeLake CPU and got the results which are very close to the `expected_out.txt`

I also ran the test https://github.com/nod-ai/SHARK/blob/main/tank/tf/hf_masked_lm/layoutlm-base-uncased_tf_test.py#L105 and it pass now.

[2022-07-14 21:28] ScottTodd commented on #9704
Yeah, looks like https://github.com/iree-org/iree/pull/9703 fixed this. Please reply or re-open the issue if not.

[2022-07-14 21:28] #9704 closed

[2022-07-14 21:33] ScottTodd commented on #9132
Closing this issue as a duplicate (seems pretty similar to the other issue linked above).

[2022-07-14 21:33] #9132 closed

[2022-07-14 22:30] not-jenni commented on #9190
Adding support for tfl.lstm would unblock ~9% of production models, so I'll mark this as a P1

[2022-07-14 23:29] rsuderman commented on #9277
Tested at head and no longer failing.

[2022-07-14 23:29] #9277 closed

[2022-07-14 23:32] rsuderman commented on #8149
https://github.com/iree-org/iree/issues/8330 is now merged which fixes this issue.

[2022-07-14 23:32] #8149 closed

[2022-07-14 23:32] #7897 closed

[2022-07-14 23:52] okkwon opened #9802 "[spirv] Support reduction + elementwise op with dynamic shapes"
### What happened?

When a reduction and an elementwise op with dynamic shapes are in a single dispatch, the vulkan fails to compile. The first pass that fails is PadDynamicAlloc.

### Steps to reproduce your issue

The input file is here: https://gist.github.com/okkwon/9d56fd368ab61aaec5bf5f18345fda6b

The command to reproduce is:

[code]

Here is the afterall dump: https://gist.github.com/okkwon

[2022-07-15 00:19] rsuderman commented on #9293
Fixed upstream in https://github.com/tensorflow/mlir-hlo/commit/79ca99e186d6c58ea80fb639a6a3044c7658af73

[2022-07-15 00:19] #9293 closed

[2022-07-15 00:31] rsuderman commented on #8832
In order to migrate TensorFlow importer MLProgram will need indirect read/store operatoins.

[2022-07-15 00:32] rsuderman commented on #7781
Completed. There is now an optional pass that lowers to purely 32-bit operations. Used for the RISC-V lowerings.

[2022-07-15 00:32] #7781 closed

[2022-07-15 00:38] jpienaar commented on #8832
Good point, we can handle the case where there is only one VarHandle for now (I have a change to flip the pass to data flow). But you are correct it won't be complete. Do you know if we really use indirect for any of the models today vs it is really fixed once we've done the data flow analysis?

[2022-07-15 00:41] benvanik commented on #8832
We don't have indirect variables plumbed all the way through so today they must all be canonicalizing/folding into direct references before we hit the flow/stream layer in any model we can run. I think most of this happens in the util dialect - so we do support them at the input boundary at the least.

[2022-07-15 00:42] rsuderman commented on #7888
Verified that with the new shape operations this compiles successfully. Closing.

[2022-07-15 00:42] #7888 closed

[2022-07-15 00:49] rsuderman commented on #4437
I believe this is all set now. It has been a long time since I saw `str` vs `bytes` issues

[2022-07-15 00:49] jpienaar commented on #8832
Cool, I'll update to version needed post data flow analysis pass deletion and can test.

[2022-07-15 00:49] rsuderman commented on #9654
Already landed in https://github.com/iree-org/iree/pull/9671 so closing.

[2022-07-15 00:49] #9654 closed

[2022-07-15 01:04] rsuderman commented on #8125
Issues are lined up for `tfl.strided_slice`, `tf.FusedFixedBatchMatmul` and `tfl.gather`. Issues still exist for propagating shape computations to TOSA.

[2022-07-15 01:06] rsuderman commented on #9298
Just verified to be working at head.

[2022-07-15 01:06] #9298 closed

[2022-07-15 01:48] #4437 closed

[2022-07-15 02:57] hanhanW commented on #9716
Interesting... maybe it's fixed by other changes recently. I'll verify it again, thanks!

[2022-07-15 06:18] hanhanW commented on #9716
I verified that the numeric issues are gone. Sometimes it fails because of accuracy, but I think it's fine. Closing the issue.

@powderluv , the SHARK tests are not deterministic. The input data and expected output are changed between runs. Can we have deterministic tests in the integration tests? Otherwise, it's hard to verify if the issue is addressed.

[2022-07-15 06:18] #9716 closed

[2022-07-15 18:19] ThomasRaoux commented on #9758
Fix https://reviews.llvm.org/D129535 has been merged in iree

[2022-07-15 18:19] #9758 closed, assigned to ThomasRaoux

[2022-07-15 20:12] bjacob opened #9809 "`computeBufferDescriptor` mutates IR before knowing whether the pattern application will succeed"
Testcase:

[code]

Run:

[code]

Result:
* `iree-opt` silently `exit(1)`
* With `-debug` one gets this message:

[code]

The `-debug` output looks like this: https://gist.github.com/bjacob/b0b7aa66f17a96eac999c1e5b81cb4fe

That log shows creation of `arith.muli`.  Setting a breakpoint on `mlir::arith::MulIOp::build` I found that we were in the parts of `computeBufferDescriptor` that actually creat

[2022-07-15 20:13] bjacob commented on #9809
@stellaraccident

[2022-07-15 22:45] MaheshRavishankar commented on #9749
@silvasean again this is having a `tensor<0x?x?xf32>` .... Is that intended?

[2022-07-15 22:47] stellaraccident commented on #9809
Yeah, was hoping you wouldn't hit that yet. I'm in the process of refactoring it -- and the right fix removes all of this in favor of upstream enhancements.

[2022-07-15 22:49] stellaraccident commented on #9809
I'm curious why it is failing, though. The cases where it is early exiting shouldn't be happening.

[2022-07-15 23:38] silvasean commented on #9749
Yes, the test specifically checks a slice with the start and end being equal.

[code]

[2022-07-15 23:39] silvasean commented on #9749
The comment there about 0 size dimensions is purely related to the calling convention -- the refbackend does the calculation just fine. The refbackend just lowers to loops and bufferizes.

[2022-07-16 00:07] antiagainst commented on #9583
@hanhanW: You added FFT support and configuration to both CUDA and Vulkan. Would mind to take a look at this issue?

[2022-07-16 01:09] benvanik commented on #9778
I'm still wiring it up but this should be fixed once we have util.buffer in-between memref and vm.buffer.

[2022-07-16 01:09] benvanik commented on #9778
(feel free to hack around if it's blocking you)

[2022-07-16 01:44] MaheshRavishankar commented on #9749
I have a fix for this, but there is a need to fix this earlier. Such no-ops need to be pruned way ahead of time.

@jpienaar we probably need a pass in Flow that can DCE such operations with zero-dim tensors. I cant think this on right now, but this should be an easy one. @okkwon does this sound like something you want to pick up?

[2022-07-16 02:04] jpienaar commented on #9749
The previous proposal was a pass to convert to these to linalg.init ops I believe, or can we just DCE?

[2022-07-16 02:10] #9749 closed

[2022-07-16 02:34] MaheshRavishankar commented on #9749
We should ideally just DCE them. I think `linalg.init_tensor` was a way to break dependency chains.

[2022-07-16 04:54] benvanik commented on #9749
Yeah DCE is always better, though we'll still need to support getting the empty tensors to `flow.tensor.empty` for when they are are live (returned from the program/stored into globals). `linalg.init_tensor` should already end up there thanks to Mahesh's InitializeEmptyTensorsPass so we just need to make those.

[2022-07-18 01:38] jpienaar commented on #9248
TosaLayerwiseConstantFoldPass landed and used unconditionally by IREE via addTosaToLinalgPasses. Currently there is no option to optionally enable it when lowering to LinAlg.

[2022-07-18 02:39] hanhanW commented on #9583
Yes, I'll help look into it!

[2022-07-18 06:39] hanhanW commented on #8658
I'm coming from https://github.com/iree-org/iree/issues/9796, and found that it's still hard to get needed artifacts.

Can we prioritize the issue?

[2022-07-18 07:10] hanhanW commented on #9796
I found that the max error was high like 6.36. According to the comment, it's expected to have high max error because of quantized Softmax issues.

https://github.com/iree-org/iree/blob/dbeec8eadabedb442659503bc0a76d87ce7c5069/integrations/tensorflow/test/python/iree_tfl_tests/mobilebert_tf2_quant_test.py#L38-L43

The error is bumped to 8.559662 after the integration. @rsuderman are there changes

[2022-07-18 07:45] hanhanW commented on #9796
The artifacts can be downloaded from https://storage.googleapis.com/iree-shared-files/nod-perf/hanchung/issue_9796.zip

To repro:

[code]

[2022-07-18 09:10] hanhanW opened #9813 "Redundant buffer allocations in LinalgExt/Linalg ops when there are constants in outs"
### What happened?

I found that there are redundant buffer allocation in LinalgExt ops. It also happens in normal Linalg ops. The main issue is that a constant op is taken in `outs`. While the constant op is read-only, the bufferization ends up with creating an additional buffer to store the temp values.

We actually have `RemoveCstOutsDependency` to handle the case, but it does not work anymore.

[2022-07-18 09:55] hanhanW commented on #9583
This is the IR before RemoveSingleIterationLoopPass: https://gist.githubusercontent.com/hanhanW/6bb2252e8465ba8f97ee2a34ef2a8dd0/raw

The IR looks good to me. I might set configurations wrong...

`#iree_codegen.translation_info<SPIRVDistribute workload_per_wg = [2]>, workgroup_size = [4 : index, 1 : index, 1 : index]} `

The workload per workgroup is 2, and there are total 4 workgroups. Are we abl

[2022-07-18 12:14] bjacob commented on #9796
Things that would help decide as compromises between certainty and engineering effort - ordered from quickest to most certainty:
1. Dump output activations (to put that 8.559662 in context).
2. Bisect this down to one LLVM commit.
3. Re-run end-to-end accuracy tests (the ones that Marie originally ran to confirm that the original 5.0 tolerance was viable).

[2022-07-18 12:45] NatashaKnk commented on #9669
What seems to happen is that the folder fails on casting the scatter_dimension attribute  (i.e. %arg1: tensor<512xi32>) to a DenseIntElementsAttr. I'm not exactly sure why that would be the case (is there something obvious I'm missing?), looking further into it.

[2022-07-18 13:45] NatashaKnk commented on #9669
Yeah, sorry! As far as I understand it returns false [here.](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc#L7509)

[2022-07-18 14:06] jpienaar commented on #9669
So scatter_indices are not constant input, do we get to https://github.com/iree-org/iree/blob/8d0975e3ea50fd65f8d11e793743f3c08e98978c/compiler/src/iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp#L291 post?

[2022-07-18 15:28] aeubanks commented on #9319
Support for non-opaque pointers will be dropped after the next LLVM release, which will likely be in a month or two.

[2022-07-18 16:50] alliemartens commented on #2109
@stellaraccident Still active?

[2022-07-18 16:51] alliemartens commented on #7861
@stellaraccident @benvanik Still active?

[2022-07-18 16:53] alliemartens commented on #9649
@not-jenni can you help add priority to this while on frontend rotation?

[2022-07-18 16:54] alliemartens commented on #5303
@not-jenni Can you add priority to this while on frontend rotation?

[2022-07-18 16:55] alliemartens commented on #9796
@bjacob @hanhanW Can we add a priority to this? P1?

[2022-07-18 16:55] alliemartens commented on #7612
@not-jenni Can you help review and prioritize this on frontend rotation this week?

[2022-07-18 17:09] MaheshRavishankar commented on #9583
That pass is to be removed this quarter. Ill check if that helps fix this issue. Thanks for the traige

[2022-07-18 17:25] alliemartens commented on #9809
@stellaraccident Assigning this to you as a P1 since it looks in progress. If this is untrue please change!

[2022-07-18 17:25] stellaraccident commented on #7861
There is an API for setting flags. That should be enough

[2022-07-18 17:25] #7861 closed

[2022-07-18 19:08] bjacob opened #9821 "Allow to combine VMVX kernels and Codegen within the same module"
Implement a way that we can generate modules containing both VMVX and Codegen dispatches and make it reasonably easy to express that "these few ops are to be compiled as calls to VMVX microkernels, everything else can go to codegen".

TBD: how is the routing to VMVX / to Codegen going to be expressed. In C++ compiler code? On the command line? In MLIR attributes?

Motivation: I would like to play

[2022-07-18 19:08] bjacob commented on #9821
@stellaraccident @benvanik @MaheshRavishankar @julianwa

[2022-07-18 19:21] #5854 closed

[2022-07-18 19:26] #9778 closed

[2022-07-18 19:26] #9809 closed

[2022-07-18 20:26] benvanik commented on #9821
Slow down - this is not actually something we want.

[2022-07-18 20:34] dcaballe opened #9823 "Add EfficientNet-Lite0-quant and MobileBert-quant to RISC-V benchmarking infrastructure"
### Request description

We are currently tracking the performance of the following benchmarks locally for RISC-V:

- MobileNetV1-float
- MobileBert-float
- DeepLabV3-float
- EfficientNet-Lite0-quant
- MobileBert-quant
- PersonDetect-quant

We should add EfficientNet-Lite0-quant and MobileBert-quant to our RISC-V benchmarking infrastructure.

### What component(s) does this issue relate to?

Compi

[2022-07-18 20:41] hcindyl commented on #9823
We can add the run test to see they don't crash. However, the numerical value check may not be feasible until https://github.com/iree-org/iree/issues/9796 is addressed.

[2022-07-18 20:42] dcaballe opened #9824 "Add models EfficientNet-Lite0-quant and MobileBert-quant to RISC-V benchmarking infrastructure"
### Request description

The benchmarking infrastructure will track the following models:

- MobileNetV1-float
- MobileBert-float
- DeepLabV3-float
- EfficientNet-Lite0-quant
- MobileBert-quant
- PersonDetect-quant

We should add all these models to our e2e integration testing for RISC-V to check the correctness of these models. MobileNet, MobileBert, DeepLab and EfficientNet should be compiled an

[2022-07-18 20:42] julianwa commented on #9821
Which part? is "use mmt4d+vmvx for matmul, and codegen for everything else" an undesirable goal? or is it just our assumptions about how to get there that are off?

[2022-07-18 20:43] hcindyl commented on #9823
Also, "benchmarking infrastructure" currently doesn't support c API. Do we want to add the models to "presubmit" and "CI" or benchmark infrastructure?

[2022-07-18 21:18] hcindyl commented on #9823
This comment is meant for another issue. sorry.

[2022-07-18 21:20] hcindyl commented on #9824
We can add the run test to see they don't crash. However, the numerical value check may not be feasible until https://github.com/iree-org/iree/issues/9796 is addressed.

[2022-07-18 21:29] dcaballe commented on #9823
Sorry, my bad. I copy-pasted the same tittle for both issues. This issue is only to track the the tests that should be added to the benchmarking infra. https://github.com/iree-org/iree/issues/9824 tracks the e2e/correctness testing.

[2022-07-18 22:16] MaheshRavishankar commented on #9821
I understand Ben's concerns, but I think for evaluation purposes having something like this would be useful? It would also be the first foray into "hetergenous execution" where different dispatches execute on different "devices" (though both are effectively CPU). This will help get some initial numbers of how much benefit the micro kernels give over what is generated by CPU codegen path without us

[2022-07-18 22:37] benvanik commented on #9821
Had some stuff typed but I think a meeting would be better.

You're right Mahesh that this is effectively heterogenous compute which is why this is really not a good exercise to be doing under the "move fast and break things" model: that's the most complex area of the stack and arguably least important.

I think there's a misunderstanding that'd be good to work through: we're talking about making

[2022-07-18 23:01] julianwa commented on #9821
At a high-level, we're looking to understand whether VMVX can be used to accelerate @bjacob's work, making it easier for him to plug in the micro-kernels that we would like to use without painful manipulation of codegen to get things in the right form for the inline kernels.

We didn't mean to be too prescriptive about a solution. The goal was to ask: is there a way that we can glue these things t

[2022-07-18 23:08] mattwalsh commented on #9821
At first when I read VMVX summary, namely,

I deduced this was just a way to express a vector operation that remains a "logical" vector operation; almost a "lowering stop" to inhibit decomposing into a loop + scalar ops that would need to be re-assembled into vector operations later.  Seems to me the above doesn't necessarily imply heterogenous compute.

[2022-07-18 23:16] julianwa commented on #9821
It's heterogenous in the sense that the execution would target separate IREE back-ends (separate HAL devices, etc), even though both would execute on the same physical CPU.

[2022-07-19 01:04] benvanik commented on #9821
Ok that's useful context - the good news is that these things are separable. It's much easier to use one or the other (pure VM or AOT) than the try to use both - trying to use both is all the same work as using either with additional hacks and non-transferrable results. I just synced with Benoit and he was thinking the pure AOT route but didn't realize what Stella has for the e2e is pure VM - and

[2022-07-19 01:07] jpienaar opened #9827 "ld error backward reference detected"
### What happened?

Got

Linking third_party/iree/tools/_iree-mlir-lsp-server_cc_binary failed

with

ld: error: backward reference detected: _ZN4mlir13iree_compiler35addIREEComprehensiveBufferizePassesERNS_13OpPassManagerEN4llvm8OptionalINSt3__u8functionIFNS_9FailureOrINS_5ValueEEERNS_9OpBuilderENS_8LocationENS_10MemRefTypeENS_10ValueRangeEjEEEEENS4_INS6_IFNS_13LogicalResultESB_SC_S8_EEEEENS4_INS

[2022-07-19 01:14] ScottTodd commented on #9827
Is this only happening with `iree-mlir-lsp-server`, or with other binaries also? That particular binary is for developer use via IDEs and is not depended on by any tests or anything user-facing. I'm not aware of anyone who builds that binary with Bazel, but the Bazel build targets were added for parity with CMake. (so feel free to disable in your downstream integrate, or hack at the upstream Bazel

[2022-07-19 02:04] jpienaar commented on #9827
Good question, I'll try disabling that one and see if only one

[2022-07-19 07:40] sjfricke commented on #4494
So something I haven't seen explicitly spelled out anywhere is what is the "if these aren't supported, the device isn't supported and falls back to CPU"

If there is going to be a fallback regardless, why not just always aim for Vulkan 1.1 and that way the setup logic is always the same (check extension, enable, etc) regardless. If there is a 1.3 promoted extension desired the current situation ge

[2022-07-19 10:25] matthias-springer commented on #8637
This has been fixed a while ago.

[2022-07-19 10:25] #8637 closed

[2022-07-19 10:31] matthias-springer opened #9829 "Support memref::SubviewOp in FlattenMemRefSubspanPass.cpp"
### Request description

There is a TODO in `DispatchLinalgOnTensors.cpp` that can be resolved now that #8637 is fixed:
[code]

Making these two ops clonable works mostly, but triggered a bug in `FlattenMemRefSubspanPass.cpp`. This bug is fixed with #9828. Another test case (`iree/tests/e2e/models/unidirectional_lstm.mlir.test`) is failing because the following test case fails `FlattenMemRefSubspa

[2022-07-19 15:24] benvanik commented on #4494
I'm not sure I follow what you're getting at?

[2022-07-19 15:26] ScottTodd commented on #4494
Falling back from GPU to CPU is currently left up to applications to handle. For example: if you try to create a GPU device and encounter errors, run out of GPU memory, or have other GPU workloads come through and want to rebalance compute resources, then you could have your application create a CPU device and route execution to it instead.

I don't think the low level IREE library itself should t

[2022-07-19 15:39] sjfricke commented on #4494
If I have a device with only 1.0 Vulkan, IREE will fail to create a Vulkan instance, which yes the applications then decide to fall back to the CPU.

My question is "when" IREE will fail to create the instance, I guess `IREE_HAL_VULKAN_EXTENSIBILITY_INSTANCE_EXTENSIONS_REQUIRED` is what I was looking for

[2022-07-19 15:48] sjfricke commented on #4494
So if there are the required extensions, and 1.1 and 1.2 only difference is just wrapping some ext to core (most are still optionally supported extensions)... What is the reason/argument to **not** just make IREE "Vulkan 1.1 with required extensions" instead of having this 1.1 vs 1.2 per platform stuff at all?

[2022-07-19 15:55] benvanik commented on #4494
Ah, gotcha. It's about maintenance burden: it's not good to have a lot of difficult to test code around extension management if it's not required and if the minimum platform level can be raised to allow for simpler code with fewer failure modes that's a good thing. So I'd flip the question around: why have a bunch of additional code for handling things that no one needs? The answer may be the same

[2022-07-19 16:01] benvanik commented on #4494
Oh but concretely I don't like that we have some #if android version switch thing - that's weird to me. I believe the reason was swiftshader not being 1.2. It looks like it is now and we can remove that #if.

[2022-07-19 16:01] sjfricke commented on #4494
So for `timelineSemaphore` sure that can be assumed on 1.2, but if you want `storageBuffer8BitAccess` that is still optional on 1.2 so your "branch logic just went from"

[code]

to

[code]

so there is still an equal amount of permutation to maintain

[2022-07-19 16:17] benvanik commented on #4494
The above is oversimplifying: extensions are much heavier weight to deal with than a single boolean field in a composite structure that is queried anyway (they require all the code to query, track, and propagate that throughout the program). Are you arguing that we should support Vulkan 1.0 in perpetuity and have several thousand lines of code for managing extensions? There's definite tradeoffs he

[2022-07-19 16:21] sjfricke commented on #4494
That is a fair counter argument

I am **painfully aware** of how much of a monster the Vulkan versioning/extension system became (and Android being at 1.1)... guess playing devil's advocate on what is actually important or not here

[2022-07-19 16:25] benvanik commented on #4494
It's useful! This issue has been lingering for awhile because we haven't been able to decide if we can cut off Vulkan 1.1. I had forgot the #if android existed - it looks like it was a transient thing that never got cleaned up and it's as confusing to the intent as you say. Given that we obviously support running on 1.1 with current code I'd say we just make it 1.1 everywhere and re-evaluate our m

[2022-07-19 16:57] alliemartens commented on #9827
@jpienaar labeling as P1 assigned to you - please change if needed.

[2022-07-19 16:58] alliemartens commented on #9829
@MaheshRavishankar new codegen labeled issue. Can you review and add priority?

[2022-07-19 18:17] phoenix-meadowlark commented on #5406
Should we close this now?

[2022-07-19 18:25] MaheshRavishankar commented on #9829
Thanks @matthias-springer . The pass expects subviews to be folded away. Here the folding is thwarted by the `memref.expand_shape` between the `subview` and `load`. Its a known issue with the pass. I am going to keep this bug with low priority. There is no easy way to fix it, but is not a blocker at this point.

[2022-07-19 18:29] #5406 closed

[2022-07-19 18:41] manishucsd commented on #9394
OptionalAttr<UnitAttr>: Present OR Not Present. The `bypassL1` is the same datatype `OptionalAttr<UnitAttr`

Present         : Allowed to use TF32 lowering given that the data type for the F32 (update the verifier)
Not present : TF32 lowering is not allowed

Precision information comes from the users:
- Per operations
  - This is not possible as we do not have a native TF32 type in LLVM/MLIR

- Gl

[2022-07-19 18:42] pzread commented on #9198
I see. So IIUC, right now it's fine to start working on the 1-D case of `tensor.extract`, as it only requires the 1-D `vector.gather`. This can vectorize the `tosa.table` and other 1-D lookups.

For the n-D `tensor.extract`, which is still required by other mhlo ops, we can defer it. I'd like to learn the masking work (which I believe is happening now) before deciding if n-D `vector.gather` is req

[2022-07-19 19:15] jpienaar commented on #9827
Only for that target so will disable downstream and lower priority here.

[2022-07-19 19:53] bjacob commented on #9809
Confirming it's fixed now.

[2022-07-19 20:54] dcaballe commented on #9198
We can also work on n-D `tensor.extract` ops that will be lowered to `vector.transfer_read` ops, as we discussed above. Those wouldn't need a `vector.gather` at all.

[2022-07-19 22:30] rsuderman commented on #7194
Prioritzed as P3 as TensorFlow is lower priority to other frontends.

[2022-07-19 22:41] rsuderman commented on #7713
We can completely delete the `iree-import-xla` tool once the iree-jax changes land. Hoping to delete this week.

[2022-07-19 23:26] #7618 closed

[2022-07-20 00:53] #9302 closed

[2022-07-20 08:16] hanhanW commented on #9796
The error goes down after some integrates... new error range:

[code]

[2022-07-20 16:55] hanhanW opened #9853 "SHARK tests are not deterministic"
I found that the SHARK tests are not deterministic. The inputs used for tests are different between runs. We should have fixed input data for the integration tests.

[2022-07-20 17:33] alliemartens commented on #2109
@stellaraccident I will go ahead and mark P2, please bump up if we plan to actively work on this!

[2022-07-20 17:59] GMNGeoffrey opened #9855 "Migrate to GitHub actions"
We are migrating all our CI to GitHub actions. Here's a list of jobs to burn down. I'm going to make it a checklist rather than a million different issues. You can put your name after a job to claim it.

Kokoro (all configs under `build_tools/kokoro/gcp_ubuntu/`):
- [x] cmake-bazel/linux/x86-swiftshader - gcmn #9927
- [x] cmake-bazel/linux/x86-turing - gcmn #9979
- [x] cmake/baremetal/riscv32 - gc

[2022-07-20 18:42] GMNGeoffrey opened #9856 "Make self-hosted GitHub runners ephemeral (and gracefully deregister)"
Our self-hosted GitHub runners autoscale in a Managed Instance Group, but are currently not ephemeral. This means that state from one build can influence a subsequent build. We take some steps to mitigate this (deleting the workdir), but this is incomplete. It also doesn't help for security purposes, which means we've still got GitHub actions set to require approval for non-collaborators.

To make

[2022-07-20 18:45] benvanik commented on #9856
(out of curiosity, what's the latency of a shutdown/startup? would it be worth having a pool that doesn't suicide after every build for collaborators vs ones for public?)

[2022-07-20 19:17] jpienaar commented on #8817
TF changes in https://github.com/iree-org/iree/pull/9804 (restriction, conceptually, from before but not in practice we believe).

[2022-07-20 19:43] GMNGeoffrey commented on #9856
Probably, but we'd need to convince security. GitHub doesn't have very good tools for isolation between runners, so we're rolling our own. I'd rather start with them uniformly ephemeral and then add back a pool of persistent runners later. I think it would also be better to use shared caches rather than persistent runners. My thought was that we could have postsubmit runners that have read/write a

[2022-07-20 20:20] GMNGeoffrey opened #9857 "Notifications for failed GitHub actions workflows"
The way GitHub actions sends notifications is totally broken: https://github.com/github-community/community/discussions/18039

We need a way to notify the team (in particular, the build rotation and the commit author) when a postsubmit workflow fails. I've searched around, and the best thing I've found is https://github.com/dawidd6/action-send-mail. That requires a gmail login though. We are *not*

[2022-07-20 20:23] GMNGeoffrey commented on #9853
@hanhanW please use the blank issue for filing generic issues. If you forget, please clean up all the boilerplate :-)

[2022-07-20 22:16] powderluv commented on #9853
yes lets track this. @monorimet can you please take a look. And subscribe to the IREE github so I can assign it to you.

[2022-07-20 22:28] monorimet commented on #9853
Inputs for PyTorch tests should be the same for each test case on one model. Do we want inputs to be the same across models as well (where applicable), or is this an issue with TensorFlow tests specifically?

If we're talking about TensorFlow, those tests will become deterministic once the tests are reworked to use .mlir and inputs downloaded from `gs://shark_tank/<modelname>/` (like we have for p

[2022-07-20 22:37] rsuderman commented on #9669
So I think this is not a legal `mhlo.scatter`. I cannot generate this operation via `jax` and the nearest replication broadcasts to add a length-1 dimension.

[2022-07-20 22:44] jpienaar commented on #9669
Potentially missing verification? Could you flag MHLO folks to verify?

[2022-07-20 22:45] GMNGeoffrey commented on #9853
MLIR text isn't a stable format, so I'd be careful with that. We've had issues in the past where that sort of thing not stored in source is painful to update with syntax changes

[2022-07-20 22:55] monorimet commented on #9853
We have a script to generate all of that data locally as well -- is it sufficient that we are able to easily generate and upload to `gs://shark_tank` a new set of compiler inputs for any SHARK-supported model if the need arises (i.e., upstream changes occur that would change the MLIR)?

[2022-07-20 22:56] rsuderman commented on #9109
@bjacob This should be fixed for given we have a 32-bit version of the lowering now. https://github.com/llvm/llvm-project/commit/9294a1e9a8ab8fed60ee1b0737e944077b5339cd

[2022-07-20 22:58] rsuderman commented on #8832
Closing as the attached PR addressed this issue.

[2022-07-20 22:58] #8832 closed

[2022-07-20 23:07] monorimet commented on #9853
Also, the TensorFlow inputs should be the same across runs (they're generated from a string that's hardcoded [here](https://github.com/nod-ai/SHARK/blob/main/tank/masked_lm_tf.py#L45))

@hanhanW I will take a look at tests for all frontends but please let me know if you're encountering this issue with a specific model/frontend.

[2022-07-20 23:33] rsuderman commented on #8731
@antiagainst

Good news: we have the i32 only version of the rescale lowering, which is pretty trivial to enable. There is an optional boolean for whether to include the 32-bit-only replacement pattern:
https://github.com/iree-org/iree/blob/main/compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp#L347

Bad news: our `tosa.mul` test fails when it is enabled. We know that the rescale low

[2022-07-21 00:04] bjacob commented on #9109
does 'fixed' mean 'actually generate a fixed-point mul instruction like `sqdmulh`' or some intermediate goal?

[2022-07-21 01:44] scottcantreid opened #9863 "tfl.while and tfl.if legalization to tosa"
### Issue body

I will be writing a pass to convert `tfl.while`/`tfl.if` to `tosa.while`/`tosa.if`, respectively.

I'm taking inspiration from the implementation of the [TOSA->SCF conversion](https://github.com/llvm/llvm-project/blob/main/mlir/lib/Conversion/TosaToSCF/TosaToSCF.cpp). When completed, this pass should also lower all `tfl.yield` operations to `tosa.yield`.

As an external contributor

[2022-07-21 04:57] rsuderman commented on #7954
This should be resolved. We have a better layering / constant evaluation system so we won't make needless copies.

[2022-07-21 04:57] #7954 closed

[2022-07-21 05:46] pashu123 opened #9866 "IR failing in the `TypePropagation` pass."
### What happened?

[code]

### Steps to reproduce your issue

[code]

Run the above IR with the following command:
`iree-compile  --iree-input-type=none --iree-vm-bytecode-module-output-format=flatbuffer-binary --iree-hal-target-backends=dylib --mlir-print-debuginfo --mlir-print-op-on-diagnostic=false --iree-llvm-target-cpu-features=host -iree-llvm-target-triple=x86_64-linux-gnu --iree-stream-res

[2022-07-21 05:56] MaheshRavishankar commented on #9866
#9867 fixes the compilation, but I dont know if this works end-to-end.... This depends on how LLVM lowers a global static array with i1 types. If LLVM supports this natively, then this should fix the problem. The repro here does not compile e2e due to the opaque constants.

[2022-07-21 10:07] hanhanW commented on #9853
I observed it when running `LayoutLMModuleTest`. I still observed the same issue. Here is how I reproduce the issue:

[code]

There will be two directories under `shark_tmp`. If we look into the `expected_out.txt`, we'll find that they are different. E.g.,

[code]

[2022-07-21 16:09] alliemartens commented on #9863
Thanks, Scott for filing this!
@rsuderman Please help add priority to this issue.

[2022-07-21 16:30] monorimet commented on #9853
This definitely suggests that there's something wrong with how we're getting the golden values (expected output), which adds up with the issues we were having with numerics earlier -- can you check the function inputs to see if they are the same? `diff -s iree_tfsmbr9krai/input1.txt iree_tfst9ufel26/input1.txt` should do the trick.

I'll bring this up in our sync today to make sure we have a plan

[2022-07-21 17:25] julianwa commented on #9537
draft PR: #9748

[2022-07-21 17:46] alliemartens commented on #9301
@ThomasRaoux Hey Thomas, any updates here?

[2022-07-21 17:49] alliemartens commented on #9553
@ThomasRaoux from meeting looking at the deltas here, please give an update on the issue.

[2022-07-21 17:51] alliemartens commented on #9689
@ThomasRaoux @manishucsd From today's meeting, looking for an update here.

[2022-07-21 18:16] monorimet commented on #9853
I was able to reproduce this issue for LayoutLM. However, the expected outputs are consistent on some other models -- for example, the expected outputs between runs on bert-base-uncased from Tensorflow are identical (they still fail to validate against SHARK results, so there's probably another problem with LayoutLM).

I'm working on this as a first priority, and will update as soon as progress is

[2022-07-21 18:26] manishucsd commented on #9394
In progress here: https://reviews.llvm.org/D130294

[2022-07-21 18:49] stellaraccident commented on #9821
Just chatted with Benoit and I think we are aligned. This is an experiment and we will control variables before going after complex/interleaved cases (and there are strong intuitions that it won't be required to go there). There are multiple ways this can go eventually, but we convinced ourselves that there are solutions to any needs there and we don't need to think about them right now.

We're go

[2022-07-21 19:56] MaheshRavishankar commented on #9866
Added a test for `i1` constant type. That fails somewhere during binary serialization

[code]

Need some input from @benvanik about way forward here. If we cannot support a non-splat i1 constant within the dispatch, I can change the type legalization pass that is failing to handle this. Holding off till I hear from Ben, in case there is a different solution.

[2022-07-21 20:04] GMNGeoffrey commented on #9853
If we're running something that reports commits as failed, especially if it happens on presubmit, we need to have something that can be updated via source code changes. It is otherwise impossible to test a commit with the new MLIR file without breaking tests that relied on the old MLIR file (from previous commits). It also makes the test a function of more than just the source code. Occasional net

[2022-07-21 20:08] benvanik commented on #9866
Is that vmvx?
outside of vmvx it shouldn't be possible for i1 tensor constants to survive to serialization - i1 is not supported in VM land outside of rodata and we do the i1->i8 expansion early: https://github.com/iree-org/iree/blob/c6616e0dc3075fd7b5a6d08ae52f2d1b03bf9cc7/compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp#L286.

If this is vmvx we'll likely need something sim

[2022-07-21 20:11] MaheshRavishankar commented on #9866
This is a case where its a non-splat `arith.constant` that is inlined into the dispatch. See test case here https://github.com/iree-org/iree/pull/9867/files

[2022-07-21 20:22] benvanik commented on #9866
K - can't get a dump from my phone :)
But the right way to do this is probably to get us off memref and on to util.buffer in vmvx, which does have lowerings with i1 support. A shorter term workaround would be to do the widening like stream does in MemRefToVM.

[2022-07-21 20:25] MaheshRavishankar commented on #9866
Here is the gist dump https://gist.github.com/MaheshRavishankar/cf8057b943a4f00d1dddd446ec2fcdc0
(Also dont look at it form phone this can wait till you are back :) )

[2022-07-21 20:27] MaheshRavishankar commented on #9866
eh, fun fact. Doesnt work on any backend. So I will fix the type converter to expand i1 types to i8 types as well.

[2022-07-21 20:41] monorimet commented on #9853
@GMNGeoffrey Thank you for the careful explanation. For IREE's use cases and especially testing purposes I see how this would make the LLVM integration harder to maintain, and would like to address this with our team to decide how to navigate this issue.

@hanhanW I have a pretty important update that might help diagnose the numerics issues for _all our TF hf_masked_lm model tests_. I noticed that

[2022-07-21 20:56] bobmuniz commented on #9856
Thanks for filing this with the links! I'll start looking into implementing similar systemd services to handle this.

[2022-07-21 21:31] MaheshRavishankar commented on #9866
https://github.com/iree-org/iree/pull/9867 should now work e2e. Passes on all backends.

[2022-07-21 22:16] rsuderman commented on #9291
Built at head and verified test now passes.

[2022-07-21 22:16] #9291 closed

[2022-07-21 22:26] GMNGeoffrey commented on #9853
Ah the classic problem that TensorFlow is always trying to do something with Cuda, no matter what you actually asked for

[2022-07-21 22:46] rsuderman commented on #7405
Ran a verification with update `mhlo` operations. Results look good.

[2022-07-21 22:46] #7405 closed

[2022-07-21 23:04] rsuderman commented on #9109
At this point we generate almost purely `i32` operations that should pass through the vectorization code. The only section that is not i32 attempts to "encourage" the compile towards sqdmulh. Is there a good way to see whether the backend compiler actually pattern matches the behavior?

https://github.com/llvm/llvm-project/blob/main/mlir/test/Conversion/TosaToArith/tosa-to-arith.mlir#L29

If not w

[2022-07-22 01:20] bjacob commented on #9109
Before going into the backend to see whether it uses the opportunity to generate a `sqdmulh`, we need to make sure that we actually create that opportunity.  The requirements are outlined in this PR's description > "Getting TOSA's apply_scale_32 to meet the requirements to use sqdmulh".

In particular, the IR going into the backend must convey the information that at least one of the operands is n

[2022-07-22 04:08] hanhanW commented on #9853
SG, thanks for the investigations and detailed context! They might have some reasons for doing it, but I'd suggest to disable those fancy optimization at this moment. It should be an option to us, not always turn it on by default.

[2022-07-22 04:17] hanhanW opened #9871 "Track quantized models on x86 benchmarks"
### Issue body

@dcaballe and I had a discussion and think that we also wanna track quantized models on x86 side. We have these 3 for RISC-V:

- EfficientNet-Lite0-quant
- MobileBert-quant
- PersonDetect-quant

@pzread can you help add them to x86 benchmarks as well? Thanks!

[2022-07-22 05:04] dcaballe commented on #9871
Thanks, Hanhan! I'm tracking the performance of those three models locally. We are in the process (https://github.com/iree-org/iree/issues/9823) of adding EfficientNet and MobileBert to RISC-V benchmarks for code size and compile time tracking. It would be awesome if @pzread could help us with https://github.com/iree-org/iree/issues/9823 while working on this issue!

[2022-07-22 05:23] monorimet commented on #9553
This is resolved by https://github.com/nod-ai/SHARK/pull/199.

[2022-07-22 05:25] monorimet commented on #9853
There are a few remaining problems with the masked_lm model tests that we are tracking in the SHARK issues, but this issue should be resolved by https://github.com/nod-ai/SHARK/pull/199.

[2022-07-22 06:29] pashu123 commented on #9866
@MaheshRavishankar https://github.com/iree-org/iree/pull/9867 fixes the issue. Thanks for the fix.

[2022-07-22 06:29] #9866 closed

[2022-07-22 13:44] marbre commented on #9686
I started to look for equivalent options, resulting in a need for discussion:

Regarding the equivalent to [`/GL`](https://docs.microsoft.com/en-us/cpp/build/reference/gl-whole-program-optimization?view=msvc-170), we could pass `-fwhole-program` to GCC, see https://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html. However, `-fwhole-program` should not be used in combination with `-flto`. The latte

[2022-07-22 17:03] dominicsymes commented on #9109
Hi @bjacob. You mention in the “meeting the no-overflowing-int32 requirement” of the issue statement that a left shift of (31-shift) on the value to be scaled could overflow an int32. I think the third line of the TOSA spec for apply_scale_32 is relevant to this. This REQUIRE statement requires “value” to be in a range for which left shift of up to (32-shift) does not overflow (for shift<32).

[2022-07-22 17:38] bjacob commented on #9109
Thanks @dominicsymes , I had missed this!

So this leaves only the other issue, of avoiding the `INT32_MIN * INT32_MIN` case which would overflow / where `sqdmulh` saturates?

[2022-07-22 17:49] alliemartens commented on #9871
@pzread This looks like something we should mark as a P1 if you are going to actively work on it. Otherwise P2 - let me know!

[2022-07-22 17:50] alliemartens commented on #9553
@powderluv @monorimet can we close?

[2022-07-22 18:27] pzread commented on #9871
Are these the quant models we want to add?

EfficientNet
https://pantheon.corp.google.com/storage/browser/_details/iree-model-artifacts/efficientnet_lite0_int8_2.tflite;tab=live_object?project=iree-oss

MobileBert
https://pantheon.corp.google.com/storage/browser/_details/iree-model-artifacts/mobilebert-baseline-tf2-quant.tflite;tab=live_object?project=iree-oss

PersonDetect
https://pantheon.corp.g

[2022-07-22 19:40] julianwa commented on #9871
@hanhanW @dcaballe I'd like to make sure that adding models to the benchmark suite is relatively self-serve and doesn't become an ongoing responsibility for @pzread. Perhaps do this collaboratively and create documentation if there are non-obvious steps? Thanks!

[2022-07-22 19:53] #9290 closed

[2022-07-22 20:59] dcaballe commented on #9871
It's probably the same but I got it from here: https://github.com/tensorflow/tflite-micro/raw/aeac6f39e5c7475cea20c54e86d41e3a38312546/tensorflow/lite/micro/models/person_detect.tflite

That sounds good to me! Having a How-To would be great. The main unknown for me is how to compile and test this part of the infra. Is it just about adding the changes and running the buildkite bots on CI? Is there

[2022-07-22 21:21] scottcantreid commented on #9863
I believe I have a working pass for `while`, but I want to clarify the signature for `if` before I write that one.

In the `tfl` dialect, `IfOp` has only a single argument: [`TFL_BoolTensor:$cond`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/lite/ir/tfl_ops.td#L4966)

However, in the `tosa` dialect, `IfOp` has the an equivalent boolean argument, as well as a [`Var

[2022-07-22 21:26] pzread commented on #9871
For this kind of small changes, I usually just upload PR and test with Buildkite bots.

If you want to test locally, the docs are not completed. But https://github.com/iree-org/iree/tree/main/benchmarks documents how to build and run the benchmark suite.

For compilation statistics, we use this tool to generate the JSON report (after you build the benchmark suite) https://github.com/iree-org/iree/

[2022-07-22 23:17] okkwon commented on #9740
The fusion based on this pattern is abandoned. The pattern will be implemented in the genericOp fusion.

[2022-07-22 23:17] #9740 closed

[2022-07-22 23:18] okkwon commented on #9523
This is done.

[2022-07-22 23:18] #9523 closed

[2022-07-22 23:20] GMNGeoffrey opened #9881 "Improve efficiency of sharing artifacts between multiple CI machines"
We've got a workflow that builds and tests the IREE runtime in two different jobs. One job builds and uploads the build directory as an artifact and another fetches the artifact and runs the tests. This adds some overhead, but basically works.

I've tried to do the same thing for the full build and the build directory is prohibitively large (a bit over 5G). It takes over half an hour to compress a

[2022-07-23 00:39] monorimet commented on #9553
Yes, we have found that the problem was not with IREE.

[2022-07-23 01:04] pzread commented on #9881
For the first class, have you tested other compression formats, like LZMA2 (.xz)?

I tested the parallel LZMA2 compression (`XZ_DEFAULTS="-T 32" tar --xz -cf a.tar.xz iree-build`) with 32 and 128 threads

- 32 threads:  242s
- 128 threads: 97s

while the archive without compression (`tar -cf a.tar iree-build`) took 50s on my machine.

My uncompressed archive is 20G and the LZMA2 compressed archive

[2022-07-24 15:15] FudanEMWLab commented on #9301
Any update here? I hit similar issue when running iree-jax flow.
[code]

[2022-07-24 23:39] GMNGeoffrey commented on #9881
Ah that will help with archive creation time at least. I foolishly assumed that compression would be parallel by default. Network transfer is still going to be an issue. I'd like to defer moving to a different storage solution because then we need to figure out how to ensure that a presubmit runner can't leave any artifacts that could pollute future runs.

It looks like xz gives better compression

[2022-07-25 12:04] flo-th opened #9886 "creating device vulkan : UNIMPLEMENTED VK_ERROR_FEATURE_NOT_PRESENT"
Hi all,

After compiling a model for android vulkan device, i try to run it via adb command and the following error is raised:
`iree/runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc:816: UNIMPLEMENTED; VK_ERROR_FEATURE_NOT_PRESENT; creating device 'vulkan'`

My compiler is built with -DIREE_TARGET_BACKEND_VULKAN_SPIRV=ON, and the runtime for android with -DIREE_HAL_DRIVER_VULKAN=ON.

Thanks fo

[2022-07-25 12:39] #9886 closed

[2022-07-25 12:40] flo-th commented on #9886
Mistake of backend flag for compilation.

[2022-07-25 13:16] flo-th opened #9888 "error creating device vulkan : how to set device id ?"
Hi all,

After the compilation of a model for android vulkan device, the following error is raised when i try to run it with a runtime compiled with the flag -DIREE_HAL_DRIVER_VULKAN=ON :
`UNIMPLEMENTED; VK_ERROR_FEATURE_NOT_PRESENT; creating device 'vulkan'`
Should i consider an error during the compilation of my runtime (missing HAL library ? -> not compiled by default ?)
How could i check that

[2022-07-25 13:29] matthias-springer opened #9889 "[Util/Analysis] FloatRangeValueElement computation breaks with additional TiedOpInterface ops"
### What happened?

As a cleanup, I implemented `TiedOpInterface` on additional ops such as `LinalgOp`. This breaks two test cases. It seems that the range computation in `compiler/src/iree/compiler/Dialect/Util/Analysis/Attributes/Range.cpp` no longer works correctly. However, from reading the interface documentation, it makes sense for `LinalgOp`s to implement this interface. So I suspect that t

[2022-07-25 16:27] benvanik commented on #9888
As @antiagainst mentioned in Discord this is because your device is missing a required feature ("FEATURE_NOT_PRESENT") - he has some tips for checking what your device supports:
https://discord.com/channels/689900678990135345/689959648501039106/1001149477643628645

The only major thing we require is timeline semaphores - ensure your device/driver supports those (e.g. https://vulkan.gpuinfo.org/lis

[2022-07-25 16:27] #9888 closed

[2022-07-25 16:44] benvanik commented on #9889
from your PR: https://github.com/iree-org/iree/pull/9887#issuecomment-1194040267
[code]

looks like the issue is the walk here:
https://github.com/iree-org/iree/blob/20c95cfc76d2e211adc9a4dffaf767b6cb5d6aae/compiler/src/iree/compiler/Dialect/Util/Analysis/Attributes/Range.cpp#L179-L182

I think failing when the walk hits init_tensor is fine - that means that the potential value is undefined - but

[2022-07-25 16:53] alliemartens commented on #9889
@benvanik Do we have an assignee to fix this? P1?

[2022-07-25 16:55] alliemartens commented on #9821
@stellaraccident @bjacob @julianwa Who is the appropriate assignee for this as a P1 item?

[2022-07-25 16:57] benvanik commented on #9889
not sure - I responded on the PR that this came from and this should be able to be fixed there.

[2022-07-25 17:07] julianwa commented on #9821
I'm assigning to @bjacob until we know whether there's any work that needs to be done by others on this to support his prototyping.

[2022-07-25 17:09] bjacob commented on #9821
We can close this as an Issue. @stellaraccident and @benvanik have settled the matter above --- to summarize, what I was originally asking for here is not wanted. Other specific things discussed above are potentially wanted but could be split into their own more specific Issues.

[2022-07-25 17:09] #9821 closed

[2022-07-25 20:12] GMNGeoffrey commented on #9881
Ok for a first pass at removing unnecessary stuff, we can delete all static libraries and object files. That drops 10G

[code]

That makes the biggest directories `tools/` and `compilers/` which seems like more as it should be. All tests pass. Does anyone foresee any issues with deleting all these files?

[2022-07-25 20:14] benvanik commented on #9881
shouldn't cause issues AFAIK

[2022-07-25 21:08] GMNGeoffrey commented on #9881
Ok this appears to have made things even progress at all, but transfer speeds are dirt slow: https://github.com/iree-org/iree/runs/7508575022. Maybe we will need to roll our own storage already. Another place GitHub actions loses to Buildkite: the latter lets you specify your own backing store :-(

[2022-07-25 21:24] dcaballe opened #9895 "Improve code size by folding identical dispatches"
### Request description

Opening this mostly for discussion. I'm seeing quite a few dispatches in mobilebert-quant that are identical except by the constants consumed by `tosa.apply_scale`. They look like this:

[code]
Not sure if keeping all these instances of the same dispatch makes sense. Perhaps keeping the constants as constants leads to any constant folding at LLVM level... but this looks li

[2022-07-25 22:07] benvanik commented on #9895
Yep! We've got a few issues tracking this (usually named something like "deduplicating dispatch executables"). #1144 is an ancient one that points out some more example of duplication. It's a big problem that would be great to have some eyes and hands on.

Brain-dump:

The primary mechanism we have today is single pass of deduplication after we outline the flow.executables (`DeduplicateExecutables

[2022-07-26 00:30] phoenix-meadowlark opened #9896 "JAX RFFT causes compiler crash due to failed isIntOrFloat() assertion"
### What happened?

Compiling `jnp.fft.rfft` causes the following compiler crash:

[code]

### Steps to reproduce your issue

Python Reproducer:

[code]

MLIR Reproducer:

[code]

### What component(s) does this issue relate to?

_No response_

### Version information

Failing at 59602cce17b87beea9e8353b6f4e765b1e968c8b (and a version from last week as well).

### Additional context

This call wor

[2022-07-26 01:43] GMNGeoffrey commented on #9881
Lol 17 minutes to upload. Yeah that's going to be a problem. Even if we could somehow compress by another factor of two, that's not going to fly. Testing was fast (22s), but all the vulkan tests failed because I ran them in the base container without swiftshader. Ideas for how we can segregate artifact upload ACLs to our own storage by commit or workflow run would be most welcome

[2022-07-26 02:05] GMNGeoffrey commented on #9881
Ah, how about including the artifact digest in the job outputs and the artifact file name. Then a runner could write some other file, but nothing should ever want to download it. We can also give the runners only "create"  permissions, so that they can't overwrite any existing artifacts produced. We'd still want to use the digest, since it means that the path where an artifact will be won't be pre

[2022-07-26 02:41] dcaballe commented on #9895
Thanks for the detailed description, Ben! Super interesting! I totally agree with the points that you made. The decision of discarding static information is something that we could make on a op by op basis. We should get a clear picture of where discarding the information is a no-go with basic micro-benchmarking.

Regarding the multi-version approach that you describe, I've seen it working very we

[2022-07-26 03:18] jpienaar commented on #9896
This looks like missing complex support at lower level again, anything returning a complex value from entry function will fail until that is resolved.

[2022-07-26 03:21] jpienaar commented on #9863
I'd expect this to be used as form before export given spec form https://www.mlplatform.org/tosa/tosa_spec.html#_cond_if, but ops aren't isolated from above so shouldn't be needed in general AFAICS

[2022-07-26 03:25] benvanik commented on #9895
The LLVM outliner may help on the CPU case (though I haven't seen it do anything - maybe there's a flag we can set?) but you're right that we want to do it early on: targets like SPIR-V and PTX can't use a technique like that as each dispatch function is compiled independently. There still may be a case for outlining, though, and we can also do that manually: each executable can have any number of

[2022-07-26 03:28] jpienaar commented on #9796
Benoit has good point, is this something we are concerned about and digging in?

[2022-07-26 03:38] GMNGeoffrey commented on #9881
Eh, actually I think I take back that last bit. If something has already put an artifact there, the job will fail to upload since it doesn't have overwrite permissions. So we can just use "folders" (GCS doesn't really have folders) by commit hash.

[2022-07-26 04:33] GMNGeoffrey commented on #9881
That's more like it: https://github.com/iree-org/iree/runs/7512948238. 93s to compress the archive, 15s to upload it, 5s to download it, and 238s to extract it. So decompression is pretty slow here. These times suggest we probably want to do less compression.

Bringing xz back to compression level 3 (default 6): https://github.com/iree-org/iree/runs/7513234765. 35s to compress, 21s to upload, 4s t

[2022-07-26 06:52] stellaraccident commented on #9881
Have you tried stripping all executables? Some kind of find piped to xargs strip.

[2022-07-26 14:18] GMNGeoffrey commented on #9881
You mean of debug info? I think we want to keep that for running the tests

[2022-07-26 14:27] stellaraccident commented on #9881
Will, then, it is going to be huge and there isn't much to be done about it. Although some savings can be had by tweaking flags to only have line numbers (gmlt).

[2022-07-26 14:50] stellaraccident commented on #9881
Switching the compiler to shared library builds would help with the big, duplicated binary problem a lot. It does come with a measurable performance cost though and should not be done for runtime code.

Then also tweaking debug flags down to just gmlt.

Finally, enabling split dwarf separates debug symbols into their own files, and if you get the flags right, will effectively dedup them across exe

[2022-07-26 16:06] GMNGeoffrey commented on #9881
Yeah, I was more looking for ways to isolate only the files we need for testing (e.g. installable tests). I think we get most of that savings be excluding the intermediate compilation artifacts, as I've done. I tried out using GCS and I think it's workable though still could use some optimization (decompression is still pretty slow and looks IO bottlenecked). I'll run my idea past security to see

[2022-07-26 16:25] phoenix-meadowlark commented on #9896
I updated the function to return the absolute value in the reproducer below and the error it produces is the same:

[code]

[code]

[2022-07-26 16:30] jpienaar commented on #9896
You may need to run inliner/just manually inline `@fft` into `@main` as this could be across function boundaries in general. (running inliner always is not ideal).

[2022-07-26 16:33] benvanik commented on #9896
we do now have most of the required support for taking/returning complex tensors across the ABI, but you're right that there may be issues when used internally in ways that don't go away after lowering into linalg (the stack in the first issue). Possible to fix - I'll take a look. It'd be useful if we had more examples of realistic usage to ensure we have everything covered (flow control/etc using

[2022-07-26 16:34] benvanik commented on #9896
(if we can decompose things - which I think there's a lower_complex pass in tf for this - that's always going to produce better code - but for the times they remain we can at least carry them around without dying :)

[2022-07-26 17:07] benvanik commented on #9896
(there's an issue I'm hitting that Mahesh is looking at - will update after unblocked)

[2022-07-26 17:19] benvanik commented on #9896
I worked around the issue and fixed the size computation that caused the assert in the initial IR but then codegen fails due to a large stack alloc:
[code]

So there may need to be some tuning here to get things sized right /cc @MaheshRavishankar.

[2022-07-26 17:24] benvanik commented on #9896
Further progress with `--iree-llvmcpu-stack-allocation-limit=512000` but then another failure later on in LLVM IR translation:
[code]

[2022-07-26 17:41] dcaballe commented on #9895
Yes, in IPO. It's not enabled by default: https://github.com/llvm/llvm-project/blob/main/llvm/lib/Transforms/IPO/PassManagerBuilder.cpp#L97

[2022-07-26 17:48] benvanik commented on #9895
Ah yes `MPM.add(createIROutlinerPass());` - it'd be useful to have someone who is familiar with the available passes (you? :) check what ones we're running - it looks like we're just doing the default compiler options for O3 and none of the linker passes:
https://github.com/iree-org/iree/blob/2b91ddc36c84de648aa200bb82d543530d7b0626/compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.c

[2022-07-26 17:53] benvanik commented on #9895
(oh, and our linker options are here: https://github.com/google/iree/blob/main/compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp#L154 - but if we can do anything in the bitcode before we pass it on to the linker that's going to be more robust/reliable)

[2022-07-26 17:56] MaheshRavishankar commented on #9896
Will look at that one, one I am passed the issue at Flow level. Thanks!

[2022-07-26 17:56] benvanik commented on #9896
Thanks! I'm not sure of the priority of this and I'm sorry for interrupting you - we can triage this if it looks like it's going to be a big time sink :)

[2022-07-26 18:53] MaheshRavishankar commented on #9896
@benvanik , with PR #9902 I am hitting the error in stream executor. Looking at the IR here, I think I know why you are seeing a big stack allocation. If my understanding is right, I can fix it. In the current state it will result in a fill outside of the dispatch, but after the `TilingInterface` lands in a couple of weeks, that fill will get fused as well (just like it does today with Linalg ops)

[2022-07-26 19:04] scottcantreid commented on #9863
Thanks! So my assumption is that a tensor needs to be passed into `input_list` in order to be in scope in the `then/else` regions. This is different from `scf.if` and `tfl.if`, where any variable previously defined in the graph is in scope.

[2022-07-26 19:10] scottcantreid commented on #9863
Given this, I can pretty easily write a lowering that leaves the `input_list` empty. I wonder if the TOSA group would be open to changing the spec to remove this unnecessary argument.

[2022-07-26 19:27] benvanik commented on #9896
What's the stream error you're hitting?

[2022-07-26 19:32] MaheshRavishankar commented on #9896
Actually after rebasing on ToT it catches your fixes. I see the error in codegen now. Ill fix it next.

[2022-07-26 19:35] benvanik commented on #9896
Nice!

Yeah I'd feel better about temporarily moving the fill out for these cases and then making sure it ends up fused again when the stuff is ready - changing the default stack allocation is going to allow unrelated dispatches to sneak through and will be harder to fix if it sits for too long. Really excited about all the TilingInterface work :)

[2022-07-26 19:51] jpienaar commented on #9863
Yes, so I think I'd do what you propose and then we could have (like we do for TFLite) a "prepare for export" pass that makes it args. But for all optimizations, I'd prefer it in region form. And j don't think for iree it matters, only place that seems like it could matter is for export to interpreter/TOSA flatbuffer

[2022-07-26 20:37] bjacob opened #9903 "`iree-compile` failure on simple `i8` matmul with VMVX microkernels"
This is blocking enabling i8 matmul e2e tests with vmvx microkernels enabled (#9904)

Testcase `a.mlir`:

[code]

Repro:

[code]

[2022-07-26 20:38] bjacob commented on #9903
@benvanik @stellaraccident

[2022-07-26 20:49] benvanik commented on #9903
Can you post the `--mlir-print-ir-after-all`? (I can look at this later but may be able to spot the issue here)

[2022-07-26 21:18] dcaballe commented on #9895
Thanks! I can take a look and run a few tests. Unfortunately, though, I still have some gaps in the IREE's linking strategies. I need to spend some time digging into the embedded linker and the system linkers. In this regard, I wonder if it would make sense to enable LTO, if we don't have it already. I'm also not sure why we are defaulting to O3. O3 enables more aggressive heuristics, including fo

[2022-07-26 21:26] benvanik commented on #9895
No one has ever really owned the options nor spent any time tuning them - for things relating to optimization consider what's throw-away and desperately in need of an owner :)

We only link a single .o today so much of what LTO in the linker could give us we could do ourselves when generating the .o by using the same passes. That ensures we have consistent behavior across embedded/system linkers:

[2022-07-26 21:45] MaheshRavishankar commented on #9896
#9906 fixes the stack allocation issue. Now it fails during lowering to LLVM due to

[code]

@rsuderman or @jpienaar anything that needs to be added to the LLVM lowering to handle this?

[2022-07-26 21:47] benvanik commented on #9896
Yeah, and that it's creating a complex number from two values to then immediately extract them again seems like a missing folder there.

[2022-07-26 22:01] MaheshRavishankar commented on #9895
Agreed! O2 seems reasonable if it helps balance some of the code size issues, even if the default performance drops by a bit in some cases..... I think most of the real optimizations we need kick in at O2.

[2022-07-26 23:02] jpienaar commented on #9896
There is a createConvertComplexToLLVMPass for lowering complex dialect and LLVM type converter does have LLVMTypeConverter::convertComplexType, is the former pass run in this pipeline?

[2022-07-26 23:19] MaheshRavishankar commented on #9896
if someone doesnt get to it soonish, I can take a stab at it later in the week.

[2022-07-27 02:22] bjacob commented on #9903
https://gist.github.com/bjacob/4b5e102f75b9f58661e63f68dab45182

[2022-07-27 02:41] ThomasRaoux commented on #9301
Sent a PR to fix the problem:
https://github.com/iree-org/iree/pull/9909
@powderluv can someone on Nod's side confirm that it solves your problem since I don't have a repo?
@FudanEMWLab could you also verify the fix on your side?

[2022-07-27 03:02] benvanik commented on #9903
Looks like a bug in memref subview handling: `%34 = "arith.muli"(%arg0, %44) : (index, index) -> index` (using %44 before it is defined) /cc @stellaraccident

[code]

[2022-07-27 03:03] benvanik commented on #9903
May be the memref.dims getting inserted in the wrong order.

[2022-07-27 03:56] benvanik commented on #5547
Damn my short-term memory; was just bit by this again: "ew all this indexing math" -> "oh neat a range folding pass" -> "whoops that doesn't work..." 🤦

The majority of the loops I see ending up in common vmvx programs are of a form that could be handled by the pass (I see a note about negative steps but I'm fine with ignoring those), so it'd still be good to have. Now that there's some dataflow s

[2022-07-27 12:57] FudanEMWLab commented on #9301
@ThomasRaoux , ran my above python program with your PR but hit the same error.

[2022-07-27 14:37] benvanik commented on #9903
ok, found a fix (though it may not be right); issue is that this code doesn't set a builder to the right place:
https://github.com/google/iree/blob/main/compiler/src/iree/compiler/Codegen/VMVX/LowerLinalgMicrokernels.cpp#L227-L228

I've got that patched and now can lower all the way to the end where we bail because there's no vmvx.matmul.i8i8i32! 🥳

Here's the IR after translation:
[code]

[2022-07-27 15:46] ThomasRaoux commented on #9301
Could you give a bit more detail on what the error is?
I’ll also try to reproduce on my side.

[2022-07-27 16:47] pashu123 opened #9918 "Not-yet-implemented case in the `-spirv-unify-aliased-resource` pass"
### What happened?

[code]

### Steps to reproduce your issue

`iree-compile  --iree-input-type=none --iree-vm-bytecode-module-output-format=flatbuffer-binary --iree-hal-target-backends=vulkan --mlir-print-op-on-diagnostic=false --iree-llvm-target-cpu-features=host -iree-vulkan-target-triple=ampere-rtx3090-linux --iree-stream-resource-index-bits=64 --iree-vm-target-index-bits=64 v_diff.mlir`

IR:

[2022-07-27 17:13] GMNGeoffrey commented on #5162
I'm hitting this again in https://github.com/iree-org/iree/pull/9905 where I get timeouts on buffer mapping tests. Dropping the parallelism to 2 makes testing take 4 minutes instead of 3 and gets rid of the timeouts.

[2022-07-27 17:38] dcaballe commented on #9895
(Is there a way to attach PRs to Issues without closing the Issues when the PRs are merged?)

[2022-07-27 17:41] MaheshRavishankar commented on #9895
Dont add the issue to the PR title. Just say `Issue <issue-number>` in the description field.

[2022-07-27 18:49] ScottTodd commented on #9855
The [`build_tools/buildkite/samples.yml`](https://github.com/iree-org/iree/blob/main/build_tools/buildkite/samples.yml) pipeline installs the Python packages from https://github.com/iree-org/iree/releases. It probably makes sense to keep that separate from the per-commit pre-submit and post-submit CI workflow, but we still have a few options for how to integrate:

1. Run on a schedule (e.g. once o

[2022-07-27 19:54] kuhar opened #9922 "Fix unaligned memory accesses"
### What happened?

When e2e tests are executed on Android, the Undefined Behavior Sanitizer complains about multiple unaligned memory accesses.
Setting the `IREE_MEMORY_ACCESS_ALIGNMENT_REQUIRED=1` cmake flag does not fix the ubsan alarms, as I'd expect. We need to either wrap such access with `iree_unalidnged_*` or fix the underlying issue that causes pointer to be misaligned.

Accessing unalign

[2022-07-27 19:57] kuhar commented on #9922
cc: @benvanik

[2022-07-27 20:32] rsuderman commented on #8817
Landed the final migration into `iree-jax`. We are fully on the `ml_program` train.

https://github.com/iree-org/iree-jax/pull/23

[2022-07-27 20:32] #8817 closed

[2022-07-27 20:36] rsuderman commented on #9896
@benvanik  We should have everything to lower to purely real valued operations. The vast majority of `mhlo`'s complex operations have decompositions into the real valued components. How do we handle the conversion between real and compex types though? Do we have an op that represents taking two real values and combining them into a complex value. Assuming we have some intermediary target we should

[2022-07-27 20:37] rsuderman commented on #9896
Should be similarly related to https://github.com/iree-org/iree/issues/7623

[2022-07-27 21:20] ScottTodd commented on #8761
I think this is in a pretty good state now. Our CMake files follow a few common styles and we print a nice message at configure time showing what is included in the build:
[code]

[2022-07-27 21:20] #8761 closed

[2022-07-27 21:34] GMNGeoffrey commented on #9857
https://github.com/firebase/firebase-admin-node/tree/master/.github/actions/send-email should work. We'd need to make a [mailgun](https://www.mailgun.com/) account

[2022-07-27 21:55] benvanik commented on #9896
No clue about that layer - I believe it's all taken care of - at least, by the time I was looking at the IR there were no mhlo ops left. I saw the pass that lowers them and it doesn't look like it covers very many ops - if we do see mhlo ops sneak through it may be because of that. What I did see were `complex` ops and I'm not sure how to handle those. @jpienaar mentioned some LLVM pass but that's

[2022-07-27 22:37] alliemartens commented on #9918
@antiagainst @MaheshRavishankar This issue needs triaging. Can you take a look?

[2022-07-27 23:01] ScottTodd opened #9925 "iree-import-tf is crashing in several Colab notebooks"
### What happened?

Several of our sample Colab notebooks are currently broken, with unsymbolized stack traces like
[code]

This was first reported on the https://buildkite.com/iree/iree-samples/builds/416 nightly build (Wed 20th Jul at 5:13 PM, https://github.com/iree-org/iree/releases/tag/candidate-20220720.210).

Failing notebooks:
* [`variables_and_state.ipynb`](https://colab.research.google.c

[2022-07-27 23:28] antiagainst commented on #9918
I've uploaded https://reviews.llvm.org/D130669 and https://reviews.llvm.org/D130671 to address this issue.

[2022-07-28 02:24] #9418 closed

[2022-07-28 04:09] kuhar commented on #9922
@benvanik I discovered that I made a mistake in my android repro. Adding `IREE_MEMORY_ACCESS_ALIGNMENT_REQUIRED` with `add_compile_definitions` in `iree/runtime/src/iree/base/CMakeLists.txt` was insufficient and the option did not propagate to `bytecode_dispatch.c`. After I moved it to the top-level cmake file, `bytecode_dispatch` unaligned accesses are gone but some other ones remain and are repr

[2022-07-28 05:53] ThomasRaoux commented on #9301
Thanks for sharing, I wonder if the problem is really related to the context as it seems like we have the right context bound when doing the dispatch. Also I don’t see why another context would be created but I’m not an expert of jax.
I’ll have to try to reproduce to understand what is going on here.

[2022-07-28 07:31] matthias-springer commented on #9889
Fixed with #9887.

[2022-07-28 07:31] #9889 closed

[2022-07-28 11:12] pashu123 commented on #9918
I have verified and this addresses the issue. Thanks, @antiagainst for the super fast fix.

[2022-07-28 11:12] #9918 closed

[2022-07-28 15:54] FudanEMWLab commented on #9301
It's weird. I just cleaned and rebuilt IREE and then the test just passed. I repeated the build flow by undo/redo your patch and surely your patch works for my above test. (not sure why my first try failed). Thanks a lot.

[2022-07-28 16:00] ScottTodd opened #9930 "Remove "dylib-llvm-aot" names across the project"
### Issue body

The compiler target backend should be called "llvm-cpu" and the runtime HAL driver/device should be called "local-sync" or "local-task".

I started renaming flags, CMake options, environment variables, Python strings, etc. in https://github.com/iree-org/iree/pull/9854 and https://github.com/iree-org/iree/pull/9861. There are many places left to update, so I'll split that over sever

[2022-07-28 16:25] #9301 closed

[2022-07-28 16:26] ThomasRaoux commented on #9301
Great, thanks for double checking. I'm closing this then.

[2022-07-28 17:17] alliemartens commented on #3381
@ScottTodd Do you have time to look at this or should we assign to someone else? Let me know if you have an idea of priority.

[2022-07-28 17:22] okkwon commented on #9139
There is an ongoing discussion about how to solve the general fusion problems. No ETA yet.

[2022-07-28 17:24] okkwon commented on #9739
I believe this is done by @ThomasRaoux.

[2022-07-28 17:25] GMNGeoffrey opened #9936 "TF integrations Python + Vulkan failures"
### Issue body

In #9927, I'm consistently hitting the following error in 25 vulkan TF integrations tests

This is the same error message as #3381, but @stellaraccident suggested it was probably a different issue. Odd about this issue is that it happens consistently on the GitHub actions runner, but wasn't happening on Kokoro at all. I've tried reducing test parallelism to ensure this isn't some i

[2022-07-28 17:25] GMNGeoffrey commented on #3381
@stellaraccident suggested opening a new issue instead. Opened https://github.com/iree-org/iree/issues/9936

[2022-07-28 17:25] #3381 closed

[2022-07-28 17:42] okkwon opened #9938 "Add e2e tests for reduction fusions"
### Request description

It would be nice to have e2e tests for the reduction fusion. This would include softmax and normalization patterns.

Iterate over all the benchmarks and extract out the patterns including dynamic shapes.

### What component(s) does this issue relate to?

Compiler

### Additional context

_No response_

[2022-07-28 17:44] ScottTodd commented on #9936
What's the Vulkan environment like on these runners? Vulkan SDK version, GPU driver version, physical GPU vs SwiftShader, etc.

[2022-07-28 17:47] GMNGeoffrey commented on #9936
It's all in the swiftshader-frontends docker container

[2022-07-28 17:48] alliemartens commented on #9669
@rsuderman Hey Rob, do you have any update here?

[2022-07-28 17:49] alliemartens commented on #9689
From today's meeting: @manishucsd WIP, still trying a few different options

[2022-07-28 17:56] alliemartens commented on #9318
@pzread Any update here?

[2022-07-28 17:57] alliemartens commented on #9739
@ThomasRaoux Please close!

[2022-07-28 17:58] ThomasRaoux commented on #9739
Solved by https://github.com/iree-org/iree/pull/9858

[2022-07-28 17:58] #9739 closed

[2022-07-28 18:01] pzread commented on #9318
Still working on #9791 9791

[2022-07-28 18:03] GMNGeoffrey commented on #9936
Seems like @stellaraccident already has a draft PR for fixing this

[2022-07-28 18:08] alliemartens commented on #9139
From today's meeting: assigning to @MaheshRavishankar

[2022-07-28 18:08] alliemartens commented on #9853
From today's meeting: @powderluv checking to see if this is resolved.

[2022-07-28 18:09] alliemartens commented on #9938
Hey @okkwon @MaheshRavishankar sounds like maybe a P2 'nice to have'? What do you think?

[2022-07-28 21:36] #9318 closed

[2022-07-28 21:47] GMNGeoffrey commented on #9881
I did some experimenting on a VM that actually matches our CI machines. zstd is *way* faster at decompressing than `xz` and somewhat faster at compressing (for a full iree build dir). I'm currently doing some quick benchmarking to determine the best compression level (we're still talking about minutes on the CI, so seems worth getting right) and then I'll push a new image with zstd installed and s

[2022-07-28 21:52] antiagainst commented on #7219
With my Apple M1 macbook, I have both the `capture` tool and the profiler UI compiled for aarch64 and it works fine. But still I cannot use the profiler UI to open the captures generated from those RPI devices (which is also aarch64).. So I guess it might have something to do with the libraries Tracy depends on Ubuntu?

[2022-07-28 21:56] powderluv commented on #9881
Drive by: We setup a Google Filestore NFS for our cloud infra and just pass pointers to the data that is frontend-ed by Jenkins  ondemand VMs.

[2022-07-28 22:04] GMNGeoffrey commented on #9881
I think that's pretty similar to what we're doing. It looks like Filestore may be faster, but a disadvantage is that I don't think we're going to be able to do things like only allowing creating an object and not editing it. I'll take a look to see if it's better for our needs, thanks

[2022-07-28 22:15] benvanik commented on #7219
I still have issues loading those android traces - I think I tracked it down to something that looked like undefined behavior somewhere in either the recording of string tables or the parsing of them but wasn't able to figure it out.

[2022-07-28 22:16] powderluv commented on #9881
Yeah use it for distributed synchronization of jobs etc and then when done artifacts we care about gets `gsutil cp`ed into where ever it has to go.  Filestore has two tiers and you can get the faster tier if you have a lot of nodes accessing it. You can also have a git mirror -- and all CI jobs can clone with reference so all the checkout time is cut short.

[2022-07-28 22:20] ScottTodd commented on #9925
`variables_and_state.ipynb` seems to be working in Colab now, even with TF downgraded from 2.8.2 to 2.8.0 (to match what we test with). That notebook is still failing on our CI though ([full logs here](https://gist.github.com/ScottTodd/cc557d23a7e640eb2d49c315ca51288d)).

`tensorflow_hub_import.ipynb` is failing on both Colab and our CI. The Colab error logs are like:

[code]
([full logs here](htt

[2022-07-28 22:27] antiagainst commented on #7219
Yeah, me too. This bug is really wild.. Time to update Tracy though! It has been almost a quarter. :)

[2022-07-28 22:43] ScottTodd commented on #9925
I confirmed that `tensorflow_hub_import,ipynb` actually broke between https://github.com/iree-org/iree/releases/tag/candidate-20220717.207 and https://github.com/iree-org/iree/releases/tag/candidate-20220718.208, which narrows that down to one IREE commit: https://github.com/iree-org/iree/pull/9812

[2022-07-29 04:24] kuhar opened #9953 "iree_task_pool_grow miscompilation with Android NDK r25"
### What happened?

I found a likely miscompilation of the `iree_task_pool_grow` function that results in heap corruption and multiple e2e matmul test failures. This happens with the Android NDK r25 but works fine under r24.

### Steps to reproduce your issue

It's easiest to reproduce this when setting the build type to `RelWithDebInfo` and enabling ASan. It also reproduces without ASan, but less

[2022-07-29 05:01] stellaraccident commented on #9936
Didn't mean to have this auto-close. I haven't verified but do expect that the root cause is fixed. Let me know if not.

[2022-07-29 05:13] stellaraccident opened #9955 "libzstd mis-detecting on MacOS Github Action runners"
GitHub actions does install libzstd, but it is not universal so it detects from CMake and fails at build time.

For the moment, just deleting it in the runner. Need to come up with a better solution.

[2022-07-29 05:50] kuhar commented on #9953
I bisected clang between these two revisions and identified this commit https://github.com/llvm/llvm-project/commit/42b34facfdfe4c280d5d90498409ca25d1750f16

[2022-07-29 06:04] GMNGeoffrey commented on #9936
I'm still seeing the same failures in https://github.com/iree-org/iree/pull/9954

[2022-07-29 06:10] kuhar commented on #9953
The current ToT does not appear to be affected:
[code]

So I'd be leaning towards having a local `#ifdef` for the version of clang from r25 to disable this loop optimization. Does this sound reasonable?

[2022-07-29 06:20] stellaraccident commented on #9936
Boo. What do I do to test this?

[2022-07-29 14:45] benvanik commented on #9953
Wow, this is a fantastic investigation and writeup!

Is it possible to bisect and see when it started working again? The commit you point at looks like a roll forward of a roll back and I'm wondering if they reverted it again at some point. I tried looking at the blame layer for that file but it's 10k LOC (!!!) and github refuses to render it for me :P
There's at least not anything looking like th

[2022-07-29 15:26] GMNGeoffrey commented on #9936
Well there's the really slow way of iterating via GitHub actions 😆 I think I actually got the same errors on my 96-core workstation, but I can also point you at a VM with the same config as the CI

[2022-07-29 15:43] kuhar commented on #9953
Thanks for the suggestions, @benvanik!

Good idea. I bisected forward and tracked it down to https://github.com/llvm/llvm-project/commit/b3e8ace19830e35682aadf0e8e8d7ff9270d51c8, which does match the first bad commit.

Yep, ` #pragma clang loop vectorize(disable) unroll(disable)` resolved the issue. We can put it behind a clang/NDK version `#ifdef`

[2022-07-29 16:59] GMNGeoffrey commented on #9881
I'm going to stick with what we have for now and revisit Filestore after the migration. Filestore also looks like it might be promising for a shared ccache that could be read-only for the presubmit runners and read-write for the postsubmit. For that we really would want something that behaves like a file system. Any NFS file system may be too slow to be worth it for that though. I had been thinkin

[2022-07-29 17:57] kuhar commented on #9953
I filed an internal bug against the LLVM shipped with the NDK. Since #9957 works around this issue, I'll close this for now.

[2022-07-29 17:57] #9953 closed

[2022-07-29 20:42] dan-garvey commented on #9301
Can confirm from the nod perspective this resolved our issue too

[2022-07-29 22:29] MaheshRavishankar commented on #9896
I ended using the `ConvertComplexToLLVM` pass. The `ConvertComplexToStandard` pass doesnt seem to solve the issue. I didnt dig deeper.

[2022-07-29 23:04] qedawkins opened #9961 "Numeric accuracy regression with PyTorch v-diffusion"
### What happened?

When trying to verify numerical results for the pytorch-v-diffusion model in SHARK against PyTorch values and am finding that results match up until cf21395c35aa6650df558010cc54ee0c5fbee646. Below is a summary of the numerical difference.
[code]

### Steps to reproduce your issue

The error was produced using the following python script by loading the model and then running it

[2022-07-30 01:14] #9936 closed

[2022-07-30 05:11] pashu123 commented on #9961
The results are still diverging for `cuda` and `vulkan` backends. @MaheshRavishankar @antiagainst

[2022-07-30 19:55] #9896 closed

[2022-07-30 23:39] qedawkins commented on #9961
I managed to isolate a failing example from the model:
[code]

After compiling and running it with an input tensor with a uniform value of 3
[code]
I then get the following output using TOM
[code]
Where the correct value is `128 * 65536 * 3 = 25165824` as seen when using the commit right before cf21395c35aa6650df558010cc54ee0c5fbee646
[code]

[2022-07-30 23:47] qedawkins commented on #9961
In the context of the larger model this is appearing in a variance calculation (`aten.var.correction` in pytorch) that translates to the following IR:
[code]

From testing this appears to be the only place in the v-diffusion model where we see a deviation from the correct value (although this op appears multiple times).

[2022-07-31 16:31] jpienaar commented on #7623
`./tools/iree-compile --iree-input-type=mhlo /tmp/t1.mlir --iree-vm-bytecode-module-output-format=flatbuffer-binary --iree-hal-target-backends=llvm-cpu` working at head post last change on test case. So

[2022-07-31 16:31] #7623 closed

[2022-07-31 20:05] bjacob commented on #9717
Possible fix: https://github.com/wolfpld/tracy/issues/384#issuecomment-1200399148

[2022-08-01 01:44] stellaraccident opened #9967 "Crash unmarshalling an i32 from a custom module call"
### Issue body

Getting a segmentation fault at bytecode_dispatch.c:515.

I imagine a simpler example could be made, but this comes from some hacking I was doing to test out Python custom modules. Repro here: https://gist.github.com/stellaraccident/7d7ddae182ddc235dc4ffaf60aee284e

Just compile the MLIR file and run the python file (after `source .env && export PYTHONPATH` from your build dir).

[2022-08-01 01:49] stellaraccident commented on #9967
If I change the signature to return void, then it gets a bit further but still segfaults:

[code]

It is ASAN clean up to that point. It may be something not good being done in the new Python logic, but if it is, it must be stomping valid memory.

[2022-08-01 11:15] PhaneeshB opened #9971 "[spirv] Inaccurate TF ConvBert result on Apple M GPUs"
### What happened?

On comparing the results obtained from TensorFlow with SHARK results the difference is more than the tolerance range.
Following is the error message shown:

[code]

### Steps to reproduce your issue

The error can be reproduced using the following script:

[code]

### What component(s) does this issue relate to?

_No response_

### Version information

_No response_

### Additi

[2022-08-01 12:27] PhaneeshB opened #9972 "[spirv] PyTorch SqueezeNet returns NaN values on Apple M GPUs"
### What happened?

On comparing the results obtained from PyTorch with SHARK results, it was found that the difference in values is more than the acceptable tolerance range.
Here's the error shown:

[code]

### Steps to reproduce your issue

This script can be used to reproduce the issue:

[code]

Link to `compare_tensors(t1, t2)` : https://github.com/nod-ai/SHARK/blob/d556c0d6ef8f69b32bc3b2d2816

[2022-08-01 15:46] stellaraccident commented on #9972
Does this only repro on the M2? I don't think that anyone in the iree core team has that hardware.

[2022-08-01 16:38] powderluv commented on #9971
please attach a link to the .mlir and iree command line to execute / recreate it

[2022-08-01 17:11] ScottTodd commented on #9667
Looks like I got all of these (excluding directories like `InputConversion/`, `iree_tf_compiler/`, `samples/`, `tests/`, and a few special cases like `tosa.apply_scale`). It might be useful to set up a CI pipeline that builds with `-DIREE_INPUT_MHLO=OFF -DIREE_INPUT_TORCH=OFF -DIREE_INPUT_TOSA=OFF` and runs tests to add a light check that we don't backslide and keep the "core" parts of the compile

[2022-08-01 17:11] #9667 closed

[2022-08-01 17:28] ScottTodd commented on #9925
Ah, `variables_and_state.ipynb` is broken in Colab again... maybe it's flaky, or it was broken by a different release? I also tried updating the samples Docker image to use the version of TF that Colab includes (2.8.0 -> 2.8.2), but the notebook still fails locally.

This is tricky to debug. Probably time to distill some test cases (likely using TF variables, based on the logs that I've seen) and

[2022-08-01 17:47] #9967 closed

[2022-08-01 18:38] ThomasRaoux commented on #9961
This is due to demotion f64 to f32 being on by default in IREE. One workaround is to disable it with the flag `-iree-util-demote-f64-to-f32=false`
@qedawkins is that enough to unblock you or do we need to change something in IREE?
If this is enough I'll close this issue.

[2022-08-01 18:40] MaheshRavishankar commented on #9961
Ill close it after adding a f64 test..

[2022-08-01 18:43] antiagainst commented on #9971
+1. It would be much easier for me to look into the issue with an input mlir file. Also as @stellaraccident asked in the other issue, is this specific to M2? (I'd suspect not but need to double check.)

[2022-08-01 18:47] alliemartens commented on #9938
@okkwon @MaheshRavishankar Please help to give this a priority within codegen.

[2022-08-01 18:47] alliemartens commented on #6356
@stellaraccident Old issue alert! Still active?

[2022-08-01 18:47] alliemartens commented on #4451
@stellaraccident Old issue alert! Is this still active?

[2022-08-01 18:48] alliemartens commented on #7638
@stellaraccident Old issue alert! Is this still active?

[2022-08-01 18:48] alliemartens commented on #9922
@benvanik Can you take a look at this? Any idea of priority?

[2022-08-01 18:57] ScottTodd commented on #9925
I built the TF importer from source and forked the program from [variables_and_state.ipynb](https://colab.research.google.com/github/iree-org/iree/blob/main/samples/variables_and_state/variables_and_state.ipynb) into https://github.com/iree-org/iree/blob/main/integrations/tensorflow/test/python/iree_tf_tests/uncategorized/simple_stateful_test.py

[code]

error looks to be in `LowerGlobalTensors`:

[2022-08-01 19:33] jpienaar commented on #9925
That seems likely, is there more of an error reported? E.g., I expect there to be an error from the pass reported before just failing.

[2022-08-01 19:53] dcaballe commented on #8568
https://github.com/iree-org/iree/pull/9870 provides a good baseline for both float and quantized GEMMs.

[2022-08-01 19:53] #8568 closed

[2022-08-01 19:58] ScottTodd commented on #9925
I don't see a clear error (it's also been a while since I've touched this part of the stack), but here are various logs I collected: https://gist.github.com/ScottTodd/5b314c9758e33e5f4fcb80d76a78b1a3

[2022-08-01 20:05] GMNGeoffrey opened #9976 "Better define testing tools"
Related to #9881, I'm noticing quite a few places where a CI build job needs an entire massive directory just so it can poke into it and get a single binary. Examples include getting the entire host build directory just for FileCheck in the RISCV64 build and checking out all submodules just for lit.py. We should better define the artifacts needed for testing and package them up for various builds.

[2022-08-01 20:17] jpienaar commented on #9925
Mmm, compiling at head and using the above gist I get:

[code]

[code]

(e.g., no error and pass completes).

[2022-08-01 20:20] ScottTodd commented on #9925
`iree-tf-opt --iree-tf-saved-model-lower-global-tensors ir_before_crash.mlir` also succeeds for me, while the full `iree-import-tf` or `tfc.compile_module()` runs both fail.

[2022-08-01 20:59] antiagainst commented on #9717
It has been a while since we updated Tracy. So let me give it a bump there to include this fix. :)

[2022-08-01 21:42] jpienaar commented on #9925
TSAN for the win as expected :) Now to figure out why (this pass is Module level pass)

[2022-08-01 22:06] antiagainst commented on #9717
Uploaded https://github.com/iree-org/iree/pull/9977.

[2022-08-01 22:07] ScottTodd commented on #7211
I started working on this, looking at source location listings. To start, I manually dumped .mlir file from `--mlir-print-ir-after=iree-flow-deduplicate-executables` then hardcoded this block to use the path to that file: https://github.com/iree-org/iree/blob/4c3faac50c486742de6cdc923b2fc8cc859f43d8/runtime/src/iree/hal/local/loaders/embedded_elf_loader.c#L258-L275
![image](https://user-images.git

[2022-08-01 22:11] benvanik commented on #7211
summary tag will be very useful when skimming/looking at the summary view and trying to see what's taking time

stream or untranslated HAL executables would be a good point for the listing capture (so immediately at the start of the HAL dialect before/after interface materialization may be a good place) as we do non-trivial changes during the stream pipeline (materializing builtins, adding/removin

[2022-08-01 22:20] ScottTodd commented on #7211
Where would you be looking for that? I only see the user text (tags) in the "group by user text" part of the "find zone" window:

![image](https://user-images.githubusercontent.com/4010439/182255161-5580c267-1f0d-428e-bc92-bc75caa1da41.png)

[2022-08-01 22:21] benvanik commented on #7211
ah - I'd just name the whole dispatch (`main_dispatch_23_matmul_MxNxK`)

[2022-08-01 22:24] ScottTodd commented on #7211
Gotcha. So all together, we could
1. use heuristics to name the dispatches
2. add dynamic parameters to user text via tags
3. add source location listings at one of the stages you mentioned

(I'm looking at 3 now, but if I keep going could work on the other pieces too)

[2022-08-01 22:29] benvanik commented on #7211
yeah - naming the dispatches in 1 would help all tooling (tracy, perf, our own stuff whenever we have it) as it's the easiest to get universally (it'll end up in dwarf/pdb/spirv symbols and such), while 2 helps tracy, and 3 helps tools that can meaningfully map back to source (tracy, perf, maybe some coverage tools)

love your idea to be able to pick where the source listing is generated as then s

[2022-08-01 22:39] #9925 closed

[2022-08-01 23:29] alliemartens commented on #9955
@GMNGeoffrey @julianwa @jpienaar Can you help triage?

[2022-08-01 23:43] dcaballe opened #9981 "Introduce a new vector reduction strategy in Linalg"
## Running Example:

I'll use the following i8->i32 reduction example throughout this proposal for illustration purposes:
[code]

## Background

We currently have [two strategies](https://github.com/llvm/llvm-project/blob/main/mlir/include/mlir/Dialect/Vector/Transforms/VectorRewritePatterns.h#L38) to code-generate reductions on the innermost (fastest-varying) tensor dimension in Linalg: *InnerPar

[2022-08-01 23:45] dcaballe commented on #9981
Once we agree on the direction for IREE, perhaps I should send part of this to Discourse...

[2022-08-01 23:45] jpienaar commented on #7612
This currently fails at head with

[code]

so we get post lowering from MHLO and compilation, but then these aren't in library linked in.

[2022-08-01 23:57] MaheshRavishankar commented on #7612
Damn! More library calls generated by LLVM. I'll fix it in a bit.

[2022-08-01 23:59] MaheshRavishankar commented on #9981
@ThomasRaoux

[2022-08-02 00:03] dcaballe commented on #9981
@vmurali

[2022-08-02 02:51] ThomasRaoux commented on #9981
The transformation suggested seems very similar to doing a split-reduction/reduction tiling transformation?
After tiling the parallel dim you get:
[code]

which then the split reduction would transform it to:
[code]
Now if you tile the reduction dim in the first linalg then vectorize you get the IR you want.

This linalg reduction already exists here:
https://github.com/llvm/llvm-project/blob/29f8

[2022-08-02 03:03] MaheshRavishankar commented on #9981
Can't this happen at the Vector dialect level. Is there a reason to do this in Linalg itself?

[2022-08-02 03:16] ThomasRaoux commented on #9981
One advantage here is that it allows us to tile the reduction dimension of the first op after splitting which would be hard to do at the vector level.

The other advantage of doing it at linalg is that we get to re-use the existing transformation but that's very little code so I don't think it is a significant reason.

[2022-08-02 03:19] ThomasRaoux commented on #9981
Also not having to change linalg vectorizer is a big advantage in my option. It might be possible to do something at the vector level but not the exact IR described above.

[2022-08-02 03:44] MaheshRavishankar commented on #9981
To me just looking at the form of the loop nest generated, it seems like a single loop nest. Having two generic ops seems like having two loop nests adjacent to each other which is not how the generate code looks like.

I do see how using split-k can help here. And this in the backend, so it is much easier to do in IREE. My only concern with split-k is that you need to generalize the `linalg.matmu

[2022-08-02 03:56] ThomasRaoux commented on #9981
One of the loop is vectorized so this seems to make sense to me.

I'm not sure how this is related to this case. There is no `linalg.matmul` in what Diego is trying to solve.

What part is a lowering and what part is a lifting? I'm failing to see how the IR we want can be generated directly for vector. Could you give a bit more details there?

[2022-08-02 04:10] MaheshRavishankar commented on #9981
Sorry, had diverged in my mind from the original example, so lost track of the original example. Please ignore.

Since this is not a `linalg.matmul` there is no lowering (IMO `linalg.matmul` -> `linalg.generic` is a lowering, but that is not relevant here). The lifting part is where the neutral element of split-k is found [here](https://github.com/llvm/llvm-project/blob/768e59d959c7e23e98cda1b08c5

[2022-08-02 04:34] ThomasRaoux commented on #9981
Finding the neutral element is needed no matter what I believe. In the IR written by Diego it is there as well. To avoid that we would need to either not have a loop around the reduction or peel out the first iteration of the loop. I don't think starting from vector remove this problem.

[2022-08-02 05:33] MaheshRavishankar commented on #9981
Not sure. It depends on how vectorization proceeds. I would expect that the original IR if you just vectorize it would become

[code]

(I am just simplifying here. You can tile the non-reduction dimensions to something that is more convenient, the rest of the discussion refers to how to handle the reduction dimension)

If you start from here, and just implement equivalent of split-k on `vector.mul

[2022-08-02 05:47] ThomasRaoux commented on #9981
Not really, the split-K transformation would look for the neutral element associated to the the reduction so it would be independent of the `extsi` as well and it would be `0 : i32`

Yes I think there is no choice here really, the reduction is in i32 so it will have to be that way no matter what.

Based on the IR written above doing it on linalg seems like a more straight forward way. If we unroll

[2022-08-02 06:00] ThomasRaoux commented on #9981
To clarify the problem I'm talking about with this IR, it is that the while reduction along the dim 384 is fully unrolled. If this value if very large that's problem as the kernel will become very large. I'm not sure how you handle this with vectorizing first.

[2022-08-02 06:38] dcaballe commented on #9981
Awesome! Sorry, I’ve been disconnected from the *-K work. Happy to reuse whatever is there, if it makes sense for this case. Please, give me some time to digest that information. Some initial comments based on the discussion above:

Honestly, I think this is a disadvantage. The Linalg vectorizer is not auto-contained and we currently rely on some pre-processing transformations that are supposed to

[2022-08-02 06:53] ThomasRaoux commented on #9981
Interesting, I would be curious to learn about your ideas there. My concern was that the vectorization would become more complicated or opinionated than it is now. The split-k transformation is pretty high level so I don't see why it wouldn't compose.

The transformation is happening at the tensor level so there is no concept of synchronization or distribution or memory representation. This all co

[2022-08-02 18:09] powderluv commented on #9972
This happens on M1 too: https://github.com/nod-ai/SHARK/runs/7636875382?check_suite_focus=true

All the following models fail on M1 Vulkan but pass on Linux Vulkan

[code]

[2022-08-02 22:40] PhaneeshB commented on #9971
Command :
[code]

Input MLIR: `https://storage.googleapis.com/shark_tank/dbmdz_convbert-base-turkish-cased_tf/dbmdz_convbert-base-turkish-cased_tf.mlir`

[2022-08-02 23:02] dcaballe commented on #9981
We had a discussion offline. The conclusion is that we will discuss this further next Tuesday once @nicolasvasilache is back. As part of this work, we may have to investigate how the split-k approach will compose with peeling + masking transformations. Therefore, let's keep any implementation on hold for now until we reach a conclusion.

[2022-08-02 23:07] PhaneeshB commented on #9971
@antiagainst
We checked and found that this issue is also present on M1 Vulkan as suspected

[2022-08-02 23:20] PhaneeshB commented on #9972
@stellaraccident

Command :

[code]

MLIR : `https://storage.googleapis.com/shark_tank/squeezenet1_0/squeezenet1_0_torch.mlir`

[2022-08-03 10:31] PhaneeshB opened #9996 "[M1 / M2] [Vulkan] Shader Init failed for MobileBert with PyTorch on SHARK"
### What happened?

It seems there is a buffer which was not correctly resolved causing the failure in shader init.
Here's the std err output:

[code]

### Steps to reproduce your issue

Command :
[code]

MLIR link: `https://storage.googleapis.com/shark_tank/google_mobilebert-uncased_torch/google_mobilebert-uncased_torch.mlir`

### What component(s) does this issue relate to?

_No response_

### V

[2022-08-03 16:27] ScottTodd commented on #9925
Verified these are fixed now. Thanks, @jpienaar !
https://buildkite.com/iree/iree-samples/builds/430 (one new failure is fixed in https://github.com/iree-org/iree/pull/9997, unrelated to the issue here)

[2022-08-03 17:30] okkwon commented on #9303
Passing the issue to Mahesh to coordinate.

[2022-08-03 17:32] okkwon commented on #9772
Passing it to Mahesh for future coordination with a low priority.

[2022-08-03 18:44] alliemartens commented on #5897
Hey @benvanik bumping this up again, still active?

[2022-08-03 18:48] benvanik commented on #5897
I think stella did this the other week as part of the VMVX work 🥳

[2022-08-03 18:48] #5897 closed

[2022-08-03 21:03] hcindyl opened #10000 "emitC flow not working after IREE candidate-20220803.224"
### What happened?

Generate following error message running models (mnist, mobilenet, etc.)

[code]

### Steps to reproduce your issue

Use https://github.com/hcindyl/iree-rv32-springbok/tree/iree-build-224 and follow the README.md to build and run the programs

Result:
[code]

### What component(s) does this issue relate to?

vm, emitc

### Version information

between candidate-20220801.222 to

[2022-08-03 22:27] ScottTodd commented on #5249
Anything left to do for this particular issue, or did https://github.com/iree-org/iree/pull/9754 fix this?

[2022-08-04 01:28] benvanik commented on #5249
I think this part is done - the HAL C API doesn't yet have the right stuff but the op is gone and the compiler is doing the right thing 🥳

[2022-08-04 01:28] #5249 closed

[2022-08-04 13:34] marbre commented on #10000
Thanks for reporting @hcindyl!

It seems we have the same problem with the vision inference / MNIST [sample](https://github.com/iml130/iree-bare-metal-arm/tree/main/samples/vision_inference) compiled with iree-bare-metal-arm and running it on Renode:
[code]
FYI, the vision inference is not a full e2e sample since it relies on [samples/models/mnist.mlir](https://github.com/iree-org/iree/blob/main/s

[2022-08-04 17:09] ThomasRaoux opened #10003 "Vectorize unaligned elementwise in LLVMGPU backend"
### Request description

Currently unaligned elementwise operations are going through a slow path. In order to generalize we would want to make it go through vectorization, and this is a step toward supporting dynamic shapes.

1st step is to handle 1D op:
[code]

This op would already go through `LLVMGPUVectorize` pass pipeline but we should force the tile size to target vectorsize of 4 (https://g

[2022-08-04 17:13] alliemartens commented on #9922
Hey @benvanik any update on this one?

[2022-08-04 17:13] alliemartens commented on #9938
@okkwon @MaheshRavishankar Please help to give this a priority within codegen.

[2022-08-04 17:27] okkwon commented on #9938
I set the priority to 2. I am working on it.

[2022-08-04 17:30] alliemartens commented on #9669
Hey @rsuderman @NatashaKnk Any update on this? This is a P1 item for the Nod folks at the moment. I think we were pinging MHLO folks?

[2022-08-04 17:41] ThomasRaoux opened #10005 "Optimize transpose operation using shared memory for LLVMGPU backend"
### Request description

Currently transpose operations are being vectorized (as long as they are aligned) and we usually end up with code that looks like:
[code]

We could optimize it using shared memory to be able to do load4 from main memory.

We should do:
[code]

Note that In order to avoid bank conflicts we should make sure the shared memory allocation is aligned on 32 + 1.

We should start

[2022-08-04 17:46] NatashaKnk commented on #9669
I'm on it, fix should be in today/tomorrow

[2022-08-04 17:54] #9853 closed

[2022-08-04 17:55] alliemartens commented on #9537
PR should be in review today

[2022-08-04 18:01] dcaballe commented on #10003
Just to be sure, *alignment* here means that the dimension to be vectorized is not multiple of the vector length and do not refer to memory ops not being aligned to vector length boundaries, right?

So far, we've been using padding and peeling to address this problem on CPUs . Padding has the overhead of copies, which could be pretty significant in some cases. Peeling could work well for some case

[2022-08-04 18:02] benvanik commented on #10003
(where possible the best solution here is still to fuse this into producers - when we are doing that we should only need to pad/swizzle in very rare cases)

[2022-08-04 18:14] ThomasRaoux commented on #10003
Yes, unaligned is overloaded I should have wrote more details.

If the vector size is small then the border is small right? I agree N-D case is more complex which is why I'm suggesting to concentrate on 1D and we should try to use linearization to handle N-D (separate task)

Different GPUs have different way to mask load/store but in general it does come with a non negligeable cost (especially for

[2022-08-04 18:17] ThomasRaoux commented on #10003
Yes definitely, we will still need to handle the unaligned cases though. In CUDA padding is often going to be done in shared memory so we would still need to handle the unaligned part when when storing to global memory.

[2022-08-04 18:25] dcaballe commented on #10003
Yeah, this is the collapsing approach that we also discussed for CPUs (@MaheshRavishankar, @hanhanW). Perhaps we should coordinate on this one since it should be a target-independent transformation.

[2022-08-04 18:35] ThomasRaoux commented on #10003
Yes, definitely, I believe we have discussed quickly it in the past. It should definitely be target independent.

[2022-08-04 18:38] antiagainst commented on #9972
What input should I use? With `tools/iree-run-module --device=vulkan --module_file=squeezenet-vulkan.vmfb --entry_function=forward --function_input=1x3x224x224xf32` on 36f2451913c025c725f2d7e03935d2e9da9a872c I cannot reproduce this. Results are not NaN.

[2022-08-04 18:49] MaheshRavishankar commented on #10003
This should cover a majority of our cases (https://github.com/iree-org/iree/issues/8053#issuecomment-1064767496) and doing it at Flow level means that it would work out of the box on all backends... There are others that are not convered by this, those can be handled separately.

[2022-08-04 20:01] alliemartens commented on #10005
@okkwon Any idea of priority for this?

[2022-08-04 20:04] alliemartens commented on #7824
@benvanik @antiagainst @ScottTodd Checking in on P1 issues, this hasn't been touched for 8 months. Do we plan to work on it or can we push to P2?

[2022-08-04 20:08] alliemartens commented on #8978
@hanhanW @okkwon Hey guys this is marked as a P1 but fairly dated (3mo old) - are we planning to work on this or should we bump to P2?

[2022-08-04 20:16] okkwon commented on #10003
IIUC, elementwise ops are fused to its producer whenever available. I am wondering if the problem here is the case where the elementwise op is not fused into producer and how likely we have such a case.

[2022-08-04 20:17] antiagainst commented on #7824
I don't think there is immediate plans for this right now; so fine to drop to P2 to me.

[2022-08-04 20:34] ThomasRaoux commented on #10003
The first step is to handle ops that are not fused. This should generalize to case where the op is fused in producer once we support unaligned cases there as well.

[2022-08-04 21:17] MaheshRavishankar commented on #8978
Bumping it to P2. I dont know if this is still an issue

[2022-08-04 22:03] antiagainst commented on #9996
Cool, another case. I am deliberately conservative at relaxing the requirements for aliased resource unification so to see what kind of cases we can get (and make sure I can capture a test each time it happens).

https://reviews.llvm.org/D131207 should address this.

[2022-08-05 09:46] marbre commented on #10000
The failure we're seeing is related to commit 76bf2f3 (the merge of #9754). The last commit working for me is d46c881.

[2022-08-05 16:32] okkwon commented on #9938
Done.

[2022-08-05 16:32] #9938 closed

[2022-08-05 16:34] okkwon commented on #10005
It is already set to P2.

[2022-08-05 22:27] jpienaar commented on #9284
This should work post https://github.com/tensorflow/tensorflow/commit/763d55e7e33ca888a2aa14fa89ec413047daf1e5 (not verified yet).

[2022-08-08 17:57] antiagainst opened #10024 "Dynamic layernorm test fails on Pixel 6"
https://github.com/iree-org/iree/pull/10011 enabled more layernorm tests. It is failing on Pixel 6 right now:

https://buildkite.com/iree/iree-test-android/builds/6859
https://buildkite.com/iree/iree-test-android/builds

[2022-08-08 19:26] #8014 closed

[2022-08-08 21:00] GMNGeoffrey commented on #7963
Duplicate of #7999

[2022-08-08 21:00] #7963 closed

[2022-08-08 21:04] GMNGeoffrey commented on #4662
I ran into this when trying to create a job that builds the IREE benchmarks (essentially import and compile some TFLite models). Currently they're built as part of the android build, which really doesn't make any sense and is not something I want to duplicate in the migration to GitHub actions. It appears that there's no way to build them using prebuilt host tools. You have to do a full host build

[2022-08-08 21:28] antiagainst commented on #10024
There are 4 dispatches for the test case. In dispatch#2, we are computing (5 - 1920 * 0.00260417). NVIDIA GPU gives 0 as the result, but for some reason on Pixel 6 Mail GPUs gives -1.49012E-07 as the result..

[2022-08-08 21:32] benvanik commented on #10024
Mali seems more right there - very small negative number :P Can we almost-equals compare instead? (e-6/e-7 is pretty tiny)

[2022-08-08 21:54] okkwon commented on #10024
1e-07 is not really very small in fp32 while it is very small for fp16. The normal (not subnormal) min is 1.175494350822287508e-38 for fp32. The test uses `check.expect_almost_eq` currently. We should investigate more to check where to diverge.

[2022-08-08 22:10] antiagainst commented on #9996
Now https://reviews.llvm.org/D131207 is landed. Just need to pick it up in some future integration. Please also feel free to cherry-pick that change to verify whether it addresses the issue.

[2022-08-08 23:25] okkwon commented on #10024
There might be a fused instruction which affect the accuracy. For example, x*x might produce a different value from pow(x, 2). There are several cases, which can affect the accuracy, e.g., fma, recip, and ... along with the rounding mode.

[2022-08-09 16:55] ramiro050 opened #10038 "Performance issue with `torch.linear` op"
### Request description

I am currently benchmarking a Bert model, and I noticed that the time it takes for the model to run the PyTorch op [`torch.linear`](https://pytorch.org/docs/stable/generated/torch.nn.functional.linear.html?highlight=linear#torch.nn.functional.linear) with IREE+CUDA is at least 40x slower than with PyTorch+CUDA using eager mode.

The MLIR for the op is:

[code]

Generated f

[2022-08-09 18:14] ThomasRaoux commented on #10038
There is a non-aligned matmul (30522 is only aligned on 2) that causes matmul codegen to fall through the slow path. We have plans to address unaligned matmul codegen this quarter which should take care of this.

[2022-08-09 18:15] ThomasRaoux commented on #10038
@ramiro050, is this a blocking perf problem? What is the impact on your work?

[2022-08-09 19:58] dan-garvey opened #10039 "Correct error tolerances for golden values on A100"
### Issue body

After #9975 error tolerances for shark on A100 have been exceeded for a few models. Here are some numbers:

[code]

[code]
[code]
[code]

[code]

[code]

Is this expected? Should we revise the tolerances?

[2022-08-09 20:21] ThomasRaoux commented on #10039
Can we disable TF32 for both IREE and and TF (if cuda backend is used as reference) and see if this goes away.
I don't think there is much we can do if we want to use TF32.

[2022-08-09 20:37] alliemartens commented on #9922
Hey @benvanik any update on this one?

[2022-08-09 22:25] jpienaar commented on #9517
Rob fixed final part in https://github.com/tensorflow/mlir-hlo/commit/f7a595238697e0215ee4f8ba8ab7b04ed7c588b4 should be good to go post next bump.

[2022-08-09 22:26] alliemartens commented on #10000
@benvanik Could you help to triage this issue?

[2022-08-09 22:42] GMNGeoffrey opened #10042 "Add optionality to presubmits"
### Issue body

Currently it is hardcoded which presubmits run on PRs (all of them except those involving GPUs). Instead, we want the PR author to be able to specify if they want the non-default set to run. Use cases:

1. PR modifying only docs runs no CI
2. PR modifying GPU code generation runs GPU tests
3. PR affecting performance runs benchmarks (benchmarks not yet migrated to GitHub actions)

[2022-08-09 23:07] GMNGeoffrey commented on #10042
@pzread and @ScottTodd opinions?

[2022-08-09 23:32] ScottTodd commented on #10042
The proposed solution sounds reasonable to me. I imagine there would be a few common recipes modeled after the use cases you listed at the top (docs -> skip CI or just check that the website build works, run GPU or other platform tests, trigger benchmarks).

The labels that we use for benchmark triggering are an alternative, possibly complementary solution. Editing a PR description feels more intr

[2022-08-09 23:47] GMNGeoffrey commented on #10042
Yeah labels don't scale well with number of jobs though. I think it's also good to document "this commit went through these presubmits", so the persistence is a feature. For your use case, I would probably put a comment in the PR description pointing to the previous run (though I agree it's a bit awkward)

[2022-08-10 00:55] antiagainst commented on #9971
We are seeing the issue of different results with and without `--iree-flow-trace-dispatch-tensors` again:

local-task:
[code]

vulkan (w/ tracing):
[code]

vulkan (w/o tracing):
[code]

 With it the result is correct. Last time it was gone but I guess we just got lucky. Still need to root cause it properly.

[2022-08-10 00:59] benvanik commented on #9971
You can try compiling with `--iree-stream-partitioning-favor=debug` which disables all concurrency and puts a barrier between each dispatch - that'd narrow down whether it was multiple dispatches stomping on each other or something host/device.

[2022-08-10 16:50] pzread commented on #10042
For the trailers, I'm wondering if we can only keep `ci-enable` and `ci-skip`. So

1. If there is no trailer, we run the default set
2. If `ci-enable` is present, we disable the default set, and only run the items specified in the list. `ci-enable: defaults` is equivalent to no trailer.
4. `ci-skip` removes whatever in the enabled list or the default set.

[2022-08-10 18:49] GMNGeoffrey commented on #10042
Your suggestion seems reasonable @pzread

Not sure if I'm understanding correctly, but I'd expect it to be `ci-skip: foo, bar`, not

[code]

which seems confusing.

We discussed this a bit more in our dev meeting and I think this is likely more complicated than we actually need. The main uses cases we have are the ones listed above. Those can be solved by making GPU tests enabled by default and ad

[2022-08-10 19:55] GMNGeoffrey commented on #10042
The GPU jobs take ~14 minutes (TF integrations) and ~5-7 minutes (main build). So that's about 20 min of a100 machine time per presubmit run. The jobs running on cpu machines take a combined ~100 minutes. An n1-standard-96 (the cpu machines we're using) costs ~$3.33 hourly and the a100 machines cost ~$2.93 hourly (all public information from the cloud console). We actually get a discounted rate in

[2022-08-10 19:57] GMNGeoffrey commented on #10042
Oh also note that the main reason I was cagey about using a100 machines before was because we had pretty limited quota and so there was a hard cap independent of cost. I've secured us more quota though, so that's less of a concern now (just to document that I wasn't just being totally silly about this stuff :stuck_out_tongue:)

[2022-08-10 22:11] marbre commented on #4662
Can you elaborate which tools exactly where causing trouble and required a full host build?

[2022-08-10 22:15] marbre commented on #5420
In case that using LLVM‘s `add_tablegen` is acceptable I could come up with a fix. I don‘t know if I can promise the same when using `IREE_HOST_BINARY_ROOT` (this would probably take longer for me).

[2022-08-10 23:06] ScottTodd opened #10058 "Confusing assert when missing `--device=cuda` flag"
### What happened?

from @nicolasvasilache when working on https://github.com/iree-org/iree/pull/9744:
[code]

I tried to repro and got something different:
[code]

### Steps to reproduce your issue

1. compile for CUDA (and maybe other targets) using `iree-compile`
2. run using `iree-run-module` without passing `--device=cuda`
3. observe assert instead of a nice error message

This might depend o

[2022-08-11 11:28] PhaneeshB commented on #9972
@antiagainst
I've tried reproducing the issue on my end, it is always reproduced when using pytest command to run test
but, w/o pytest (simple python script for test) and using iree-compile + iree-run-module I'm unable to reproduce the issue.

Also, this failure is specific to Vulkan, CPU test always pass
Not unsure on how to debug this further, lmk if you've got any ideas

[2022-08-11 14:45] jpienaar commented on #9517
Got rolled back due to missing support in XLA CPU Eugene found, #10050 will enable IREE side until addressed.

[2022-08-11 16:30] simon-camp commented on #10000
Short update:

This is caused by aliasing of ref variables in the EmitC conversion. My current work is [here](https://github.com/simon-camp/iree/tree/issue-10000).
Now [this test function](https://github.com/iree-org/iree/blob/fe0e4dd033959a55ee5e3a353d127a7232e4713e/runtime/src/iree/vm/test/control_flow_ops.mlir#L167) gets miscompiled by the EmitC conversion as the results are returned in the wro

[2022-08-11 17:55] alliemartens commented on #9669
Hey @NatashaKnk any update?

[2022-08-11 17:59] jpienaar commented on #9517
At head

[code]

goes to

[code]

now via MHLOToMHLOPreprocessing.

[2022-08-11 17:59] #9517 closed

[2022-08-11 18:04] ramiro050 commented on #10038
It is not blocking. Having this fixed this quarter works!

What properties should the dimensions satisfy to be aligned? I think for now I can change some hyperparameters in my model to make sure the matmuls get the fast codegen

[2022-08-11 18:06] alliemartens commented on #9139
Adding @okkwon to this issue in case there have been any updates while Mahesh is out.

[2022-08-11 18:06] alliemartens commented on #9689
Hey @manishucsd can you update the issue here?

[2022-08-11 18:07] alliemartens commented on #9537
PR still in draft today FYI

[2022-08-11 18:07] alliemartens commented on #10039
@ThomasRaoux @KoolJBlack didn't get a chance to review this in today's sync. Do we have a priority for this?

[2022-08-11 18:12] ThomasRaoux commented on #10039
This was discussed on the chat. There is not much we can do within IREE as long as we want to use TF32

[2022-08-11 18:13] ThomasRaoux commented on #10039
@dan-garvey can you update the bug with your plan?

[2022-08-11 18:49] PhaneeshB opened #10075 "[spirv] PyTorch AlexNet returns zeros on Apple M GPUs"
### What happened?

On running Alexnet infernece on macos with SHARK, we see the output tensor is zero.

### Steps to reproduce your issue

mlir: `https://storage.googleapis.com/shark_tank/alexnet_torch/alexnet_torch.mlir`
input: `https://storage.googleapis.com/shark_tank/alexnet_torch/inputs.npz`
golden_output: `https://storage.googleapis.com/shark_tank/alexnet_torch/golden_out.npz`

Compile and

[2022-08-11 19:55] #9871 closed

[2022-08-11 23:36] #8658 closed

[2022-08-11 23:46] MaheshRavishankar commented on #9139
This is on my plate. The resolution is about 2-3 weeks out.

[2022-08-12 00:23] benvanik opened #10080 "Upstream an `mlir-strip` tool for stripping debug information from mlir text files (and binaries in the future)."
Tools like `strip` and `llvm-strip` are extremely useful when dealing with privacy-sensitive debug information (machine names, source code paths, etc), reducing reproducer sizes, or ensuring deterministic outputs (stripping out build machine absolute paths from files). It'd be useful to have an upstream tool that we could ship with our releases so that our users could strip their mlir files either

[2022-08-12 02:23] dcaballe commented on #9823
Fixed by #10054. Thanks @hanhanW

[2022-08-12 02:23] #9823 closed

[2022-08-12 16:06] ScottTodd commented on #9930
This is complete now :)

We could remove the legacy names now if we think users/developers have had enough time to migrate: https://github.com/iree-org/iree/blob/3bc74ec7c66cc9ac77131b99ae5253e55d67725c/compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp#L856-L860

[2022-08-12 16:06] #9930 closed

[2022-08-12 18:06] #9961 closed

[2022-08-14 20:46] powderluv opened #10090 "iree-run-module --list_drivers fails in release builds if you don't have CUDA"
### What happened?

[code]

### Steps to reproduce your issue

pip install iree nightly builds (which has cuda support) on to a system that doesn't have CUDA.

```  iree-run-module --list_drivers  ``` will fail.

### What component(s) does this issue relate to?

_No response_

### Version information

top of main

### Additional context

_No response_

[2022-08-14 23:56] stellaraccident opened #10091 "TFL/test/flex_ops.mlir using outdated opaque attribute"
Disabling test as part of integrate. It should be relatively easy to regenerate from the source once new binaries are available. Should also evaluate whether this test is needed anymore.

[2022-08-15 00:34] jpienaar commented on #10091
https://github.com/tensorflow/tensorflow/commit/dd5f285c13b2bed2c7db78f521d7a760dbf43ec5 may be of use.

[2022-08-15 14:17] simon-camp commented on #10000
@hcindyl  This should be fixed with #10094.

I only tested this on the [static library sample](https://github.com/iree-org/iree/tree/main/samples/static_library) altered for the [MNIST model](https://github.com/iree-org/iree/blob/main/samples/models/mnist.mlir) though.

[2022-08-15 15:30] ScottTodd opened #10097 "Kokoro cmake_bazel_linux_x86-* builds are failing to link iree-lld"
This started when https://github.com/iree-org/iree/pull/10087 was merged (we don't test Kokoro on presubmit and will soon be turning it down). We should see how those Kokoro builds differ from the GitHub Actions pipelines, and if this indicates some missing test/build coverage in the new pipelines. I think the `build_tf_integrations` / `test_tf_integrations` pipelines should be testing roughly the

[2022-08-15 15:34] benvanik commented on #10097
may be https://discord.com/channels/689900678990135345/689957613152239638/1008567750911868978?
https://github.com/tensorflow/mlir-hlo/issues/45

[2022-08-15 15:50] stellaraccident commented on #10097
There is some sketch layering in MHLO that I have already talked to them about fixing. It isn't terribly surprising that a slightly different setup uncovered more issues and I don't think it is particularly actionable. I'm unlikely to go track down the specific in these Kokoro builds when the root cause is getting fixed.

[2022-08-15 15:55] ScottTodd commented on #10097
I'm less concerned with the particular build failure and more wondering why the pipelines/environments are different.

`build_all` is linking that executable (successfully), at least: `[4795/4836] Linking C executable compiler/bindings/python/iree/compiler/_mlir_libs/iree-lld` https://github.com/iree-org/iree/runs/7839905117?check_suite_focus=true#logs. (It would be bad if the new pipelines weren'

[2022-08-15 15:57] stellaraccident commented on #10097
Looks like the release failed. Probably on the same thing but I can't see the logs yet. I'll debug that since it is actually... Debuggable. I'm spending no time on Kokoro failures.

[2022-08-15 15:58] stellaraccident commented on #10097
It's a missing dep in a shared library. Os/linker nonsense is the reason.

[2022-08-15 16:12] #7211 closed

[2022-08-15 16:27] NatashaKnk commented on #9669
Sorry for the delay! Should be fixed when [10095](https://github.com/iree-org/iree/pull/10095) is submitted.

[2022-08-15 17:01] GMNGeoffrey commented on #10097
Cross-posting my comment from the PR:

So this broke a Kokoro postsubmit build that builds the Python bindings linking iree-lld. Somehow it didn't break any of the GitHub actions, so there's something subtly different about how they're building it

[code]

https://source.cloud.google.com/results/invocations/4ecedaea-bfcd-4575-8ed7-9b8175621e92/targets/iree%2Fgcp_ubuntu%2Fcmake-bazel%2Flinux%2Fx86-

[2022-08-15 18:44] #10090 closed

[2022-08-15 19:05] alliemartens commented on #10039
@dan-garvey Can you provide an update today?

[2022-08-15 19:06] alliemartens commented on #10075
@antiagainst Can you take a look at this one to assign priority?

[2022-08-15 19:09] alliemartens commented on #10091
Adding @NatashaKnk to take a look while on frontend rotation this week.

[2022-08-15 19:10] alliemartens commented on #6356
@stellaraccident Old issue alert! Still active?

[2022-08-15 19:10] alliemartens commented on #4451
@stellaraccident Old issue alert! Is this still active?

[2022-08-15 19:10] alliemartens commented on #7638
@stellaraccident Old issue alert! Is this still active?

[2022-08-15 19:23] stellaraccident commented on #7638
Done as part of the DeviceArray work.

[2022-08-15 19:23] #7638 closed

[2022-08-15 19:28] pzread commented on #9856
So can we close this issue since it's marked as Done?

[2022-08-15 19:36] dan-garvey commented on #10039
Yeah, we're going to relax tolerance when TF32 is enabled. Any changes would be on the NVIDIA side, so nothing required from the IREE side afaik. Thanks for the support!

[2022-08-15 20:23] GMNGeoffrey commented on #9856
There's actually an issue on the GPU runners and they keep shutting down as soon as they start. I need to investigate what's going on.

[2022-08-15 20:31] GMNGeoffrey commented on #10042
So we have an issue with the label. When a PR is created with a label, the GitHub events are that it is opened and *then* it is labeled. That makes it impossible to open a PR and have it not run CI. That's a pretty important use case...

Options we have:

1. Use a string in the PR description to skip CI instead of a label
2. Don't run CI when a PR is opened. This means that someone would have to t

[2022-08-15 20:59] alliemartens commented on #10039
Great! Can we close this?

[2022-08-15 22:26] GMNGeoffrey commented on #9856
The issue is that the runner on these machines is out of date. They're running 2.293.0 and it's been more than 30 days since 2.294.0 was released. That means that GitHub won't let them connect:

Aug 15 22:09:24 github-runner-presubmit-gpu-us-central1-j2ss systemd[1]: github-actions-runner-start.service: Main process exited, code=exited, status=2/INVALIDARGUMENT

So that's annoying... So the runner

[2022-08-15 22:27] GMNGeoffrey commented on #9856
For now, I'll just update and create a new image

[2022-08-16 03:33] hcindyl commented on #10000
I tested with the examples in https://github.com/hcindyl/iree-rv32-springbok/ and all tflite/mlir models passed.

[2022-08-16 03:34] hcindyl commented on #10000
Will close the issue once the commit lands in the candidate release.

[2022-08-16 12:53] Theoo1997 opened #10108 "Run on a Bare-Metal Platform (static_library)"
Hi,
I am trying to build and run [IREE "Static Library" sample](https://github.com/iree-org/iree/tree/main/samples/static_library) without building IREE from scratch. I've noticed that the IREE "Static Library" sample has its own [CMake](https://github.com/iree-org/iree/blob/main/samples/static_library/CMakeLists.txt) so I've used this cmake (cmake , cmake --build) to create the executables (stati

[2022-08-16 13:12] marbre commented on #10108
I think you want to look into https://iree-org.github.io/iree/deployment-configurations/bare-metal/. Further, https://github.com/iml130/iree-bare-metal-arm is doing what you want: We use a snapshot and only cross-compile the runtime for the bare-metal target.

[2022-08-16 14:14] Theoo1997 commented on #10108
Yes I've seen this links before. They are not related with my issue. Ι only need to a make a NN executable for x86. The above instructions build IREE from scratch and then generate static_library_demo executable.
![image](https://user-images.githubusercontent.com/109102287/184897733-907e12f7-5d72-406e-a8c9-843a7634122b.png)
 I only wont to generate static_library_demo executable and not build IREE

[2022-08-16 15:43] ScottTodd commented on #10108
You might also want to take a look at https://github.com/iree-org/iree/tree/main/experimental/web/sample_static, particularly the [`CMakeLists.txt`](https://github.com/iree-org/iree/blob/main/experimental/web/sample_static/CMakeLists.txt) and [`build_sample.sh`](https://github.com/iree-org/iree/blob/main/experimental/web/sample_static/build_sample.sh) files. That uses a prebuilt `iree-compile` in

[2022-08-16 16:13] hcindyl commented on #10000
The commit landed in https://github.com/iree-org/iree/releases/tag/candidate-20220816.237

[2022-08-16 16:13] #10000 closed

[2022-08-16 16:16] alliemartens commented on #9857
@GMNGeoffrey we should add an assignee if this is truly P1. Thoughts?

[2022-08-16 16:25] GMNGeoffrey commented on #9857
Yeah it had an assignee till yesterday, but Bob is moving on to other things. Assigned myself

[2022-08-16 16:41] #9856 closed

[2022-08-16 17:14] alliemartens opened #10110 "Figured out why Bert in Shark tank performs much better than Bert from torchbench"

[2022-08-16 17:16] alliemartens commented on #10110
Adding Ramiro's notes here.

Input and vocab size are different
- Shark: input_size=128, vocab_size=2
- Torchbench: input_size=512, vocab_size=30522

If I change torchbench parameters to match Shark, I get IREE 2x faster than PyTorch eager

Using input_size=512 and vocab_size that is of same order as 30522 but 32 aligned makes IREE perform 2x slower than PyTorch eager

[2022-08-16 17:18] alliemartens commented on #10110
@ThomasRaoux @mattwalsh @rsuderman @KoolJBlack @mariecwhite @silvasean for vis

[2022-08-16 17:48] ScottTodd commented on #10042
This SGTM. I don't think splitting the CI into two classes of presubmits should be necessary for solving "I just want to edit some experimental / markdown / etc. files that I know shouldn't affect presubmits". It might be useful for "I want to run more expensive GPU tests / benchmarks" though.

[2022-08-16 17:56] ScottTodd commented on #10108
You can start with that file, but you'll need to make edits if you want to avoid compiling IREE from scratch. The checks at the start depend on building the `iree-compile` compiler binary and a few CMake options being set: https://github.com/iree-org/iree/blob/99caaec7072c02997434e711edd6e722dfca8ff9/samples/static_library/CMakeLists.txt#L7-L14

Further down there are more checks for optional feat

[2022-08-16 18:01] Theoo1997 commented on #10108
Thank you. I am closing this issue.

[2022-08-16 18:01] #10108 closed

[2022-08-16 18:41] ThomasRaoux commented on #10005
Here is a summary of what we want to do:
https://developer.nvidia.com/blog/efficient-matrix-transpose-cuda-cc/

[2022-08-16 18:56] #10039 closed

[2022-08-16 21:53] mariecwhite commented on #10110
A few things to double-check to make sure the models are close to apple-to-apples:
- Since the Shark model has smaller input and vocab size, it would suggest that the model is smaller. For example, BERT-base and BERT-large vary in the number of layers, number of attention heads and number of hidden layers (12 layers vs 24 layers, 12 attention heads vs 16 attention heads, 768 hidden layers vs 1024

[2022-08-16 22:10] pzread opened #10114 "Tool to diff the generated benchmarks"
As we are going to generate the benchmarks with python scripts. It will be good to have a tool to show the diff after changing the benchmark generators. So we can check what benchmarks are added/removed and make sure we don't generate exploded numbers of benchmarks.

[2022-08-16 23:05] rsuderman commented on #9268
Verified to be fixed in iree-samples

[2022-08-16 23:05] #9268 closed

[2022-08-16 23:06] rsuderman commented on #9284
Validated compilation in iree-samples repo. Marking as fixed.

[2022-08-16 23:06] #9284 closed

[2022-08-16 23:06] rsuderman commented on #9669
Validated in iree-samples that the case is now fixed

[2022-08-16 23:06] #9669 closed

[2022-08-17 08:00] sun2011yao opened #10120 "The output of the MaxPooling contains -INF"
### What happened?

HI, excuse me. I met a problem. MaxPooling results are wrong, contains -INF. I ran the mlir file below

`"builtin.module"() ({
  "func.func"() ({
  ^bb0(%arg0: !iree_input.buffer_view):
    %0 = "mhlo.constant"() {value = dense<0xFF800000> : tensor<f32>} : () -> tensor<f32>
    %1 = "iree_input.cast.buffer_view_to_tensor"(%arg0) : (!iree_input.buffer_view) -> tensor<1x28x28x480

[2022-08-17 13:40] bjacob commented on #9903
The originally reported failure mode is indeed fixed, but the original testcase (PR description above) still reproduces some other failure:

[code]

[2022-08-17 13:43] bjacob commented on #9903
Looks like a much milder failure now, basically just hinting to implement the missing `vmvx.matmul.i8` --- doing it!

[2022-08-17 15:15] antiagainst commented on #9996
Closing this given the above patch is integrated into IREE now. Please verify.

[2022-08-17 15:15] #9996 closed

[2022-08-17 18:13] ramiro050 commented on #10110
A correction on the update I gave about the differences between `bert-base-uncased` in Shark vs. the one used by torchbench. Both models do actually use the same vocabulary size, 30522 (Shark does use a smaller input size: 128 vs 512). The difference is that the Shark model is doing sequence classification outputting classificatioon scores on two labels https://huggingface.co/docs/transformers/v4.

[2022-08-17 18:18] ramiro050 commented on #10110
All configuration parameters used between the two models are the same:

Shark:

[code]

Torchbench:

[code]

[2022-08-17 22:51] alliemartens commented on #10091
@rsuderman @NatashaKnk Can you help triage this with a priority and some labels?

[2022-08-17 22:52] alliemartens commented on #10097
Looks like this still needs some triaging. Any further updates @GMNGeoffrey @stellaraccident @ScottTodd @benvanik ?

[2022-08-17 22:55] ScottTodd commented on #10097
Stella fixed this in https://github.com/iree-org/iree/commit/61e0e46e27663acc33405e056195371bf73dbcad

[2022-08-17 22:55] #10097 closed

[2022-08-17 23:09] jpienaar commented on #10120
Could you also add the input tensor program here?

[2022-08-17 23:14] alliemartens commented on #6622
@benvanik @ScottTodd Flagging as this is a P1 but a year old. Should we deprioritize?

[2022-08-17 23:18] alliemartens commented on #9259
@MaheshRavishankar @hanhanW Bumping this up as a slightly stale P1 (3 months old). Any updates?

[2022-08-17 23:18] ScottTodd commented on #6622
Lower priority SGTM. This is pretty use-case driven (when someone wants a size-optimized build on non-msvc they can help with curating the list of settings to use)

[2022-08-17 23:18] alliemartens commented on #9308
@MaheshRavishankar Bumping this up as a slightly stale P1, please deprioritize or update as needed.

[2022-08-17 23:20] MaheshRavishankar commented on #9259
I am looking into these and associated bugs. Nothing to report right now, but maybe a couple of weeks, Ill either close these as fixed or WNF.

[2022-08-17 23:21] MaheshRavishankar commented on #9308
https://github.com/iree-org/iree/commit/7e54fe898a856eb74ba996f55e436edbdedaf9fa deletes the cultprit pass. So fixed.

[2022-08-17 23:21] #9308 closed

[2022-08-17 23:22] alliemartens commented on #8212
@rsuderman Bumping this up as a stale P1. Please update or deprioritize as needed!

[2022-08-17 23:23] alliemartens commented on #1159
@GMNGeoffrey @ScottTodd Stale P1 item here, please take a look when you get a chance and update or deprioritize!

[2022-08-17 23:23] alliemartens commented on #6512
@ThomasRaoux Stale P1 item here - should this be closed?

[2022-08-17 23:24] alliemartens commented on #4727
@ThomasRaoux Stale P1 item here, please review when you get a chance!

[2022-08-17 23:25] alliemartens commented on #6622
Bumping to P2 for now.

[2022-08-17 23:29] ScottTodd commented on #1159
I think @rsuderman was going to look at getting this work over the finish line.

[2022-08-17 23:42] sun2011yao commented on #10120
Here is the specified input

[2022-08-17 23:49] jpienaar commented on #10120
I meant the input program at purely tensor level before it gets to buffer.

[code]
does not have valid types being used. It would need at least element types.

[2022-08-18 00:00] sun2011yao commented on #10120
Sorry, there was a problem with the mlir file uploaded before, I updated the file

[2022-08-18 00:06] jpienaar commented on #10120
[code]

returns all -1. So maybe something on GPU. I don't have a GPU, but will tag GPU codegen to triage.

(tested at 9cdcc05633b6b5dfcd30cc3b5e02bcbad04782b7)

[2022-08-18 00:09] sun2011yao commented on #10120
OK, i ran it on an A100

[2022-08-18 11:09] wyzero opened #10129 "Fail to buffer tensor.pad op when using transform dialect for x86 GEMM CodeGen"
### What happened?

the error log :

[code]

### Steps to reproduce your issue

GEMM test IR:
[code]

Transform IR for dispatch:
[code]

Transform IR for CODEGEN:
[code]

### What component(s) does this issue relate to?

_No response_

### Version information

nightly-build: 20220811.232

### Additional context

_No response_

[2022-08-18 17:31] bjacob commented on #9709
Fixed by #9882

[2022-08-18 17:31] #9709 closed

[2022-08-18 17:32] bjacob commented on #9444
Fixed by https://github.com/iree-org/iree/pull/9435

[2022-08-18 17:32] #9444 closed

[2022-08-18 17:49] antiagainst commented on #10075
It seems those files are moved? `wget` reports "Not Found". Could you provide the new locations for them?

[2022-08-18 17:49] alliemartens commented on #10120
@ThomasRaoux Please help review this new issue and add priority!

[2022-08-18 17:57] alliemartens commented on #9537
PR is still in draft as of today

[2022-08-18 19:00] #1159 closed

[2022-08-19 05:29] ThomasRaoux commented on #10120
We were missing some barriers for some cases. Sent a PR to fix it: https://github.com/iree-org/iree/pull/10137

[2022-08-19 10:00] Theoo1997 opened #10138 "Compilation failed for Int8 tf lite model"
I am trying to compile and run a Quarantined tf lite model on x86. During the compilation I had the above error: **"'tosa.conv2d' op attribute 'quantization_info' failed to satisfy constraint: Attribute for Conv type op quantization information."**.
[code]
This is the script that I use :
[code]

[2022-08-19 10:54] #10120 closed

[2022-08-19 16:54] alliemartens commented on #10129
@MaheshRavishankar Can you help take a look at this and triage?

[2022-08-19 17:03] alliemartens commented on #10138
@rsuderman can you help triage while on rotation this week?

[2022-08-19 17:05] MaheshRavishankar commented on #10129
Assigning to Nicolas/Matthias to take a look. Seems related to the transform dialect hook up. (Marking P1 for now)

[2022-08-19 21:49] ScottTodd opened #10142 "WebGPU target is hitting "error: unknown function: 'isNan'""
Simple e2e repro, and I'm also adding a lit test hitting this in https://github.com/iree-org/iree/pull/10134:

[code]

The compilation flow looks like roughly:
[code]

WebGPU removed `isInf` and `isNan` back in https://github.com/gpuweb/gpuweb/pull/2311, and Tint removed them in https://dawn.googlesource.com/tint/+/bcd9ad2ebbc183cfbecd75fb6879eb0d55779e5f.

Ideal fixes:

- [ ] Tint could parse `sp

[2022-08-19 21:56] benvanik opened #10144 "Rework HAL bindings to support update-after-bind-style semantics."
The current HAL design follows Vulkan fairly closely around descriptor sets where descriptor sets are defined and then bound to a command buffer at recording time. Vulkan grew the ability to update descriptor sets after binding but it's not super great (can't do it once the command buffer has been submitted, or have multiple updates pending, has tricky semantics around partial binding, etc) and no

[2022-08-19 22:59] ScottTodd opened #10145 "Some WebGPU storage classes are mismatched/invalid"
Simple e2e repro, and I'm also adding a lit test hitting this in https://github.com/iree-org/iree/pull/10134:

[code]

Here's the `--mlir-print-ir-after-all` and spirv asm (`--iree-hal-dump-executable-intermediates-to`) for the lit test:
https://gist.github.com/ScottTodd/7ee5c5086f0281ee79d3cfb3490223bf
Compared to a successful compile of a different smoketest:
https://gist.github.com/ScottTodd/10

[2022-08-20 15:24] nicolasvasilache commented on #10129
see https://github.com/nicolasvasilache/iree/commit/ca76f997b379fb3514577f92003b13f15ebfedeb

We usually vectorize after pad to rewrite padding into the proper abstractions.
This should at least unblock you, if you do not want to vectorize before bufferization then we'd need to look deeper next week.

[2022-08-22 07:05] matthias-springer commented on #10129
Bufferization is currently not implemented for `tensor.pad`. However, with some of the recent changes, we can lower it do alloc_tensor + fill + insert_slice during bufferization. The only tricky part is that we don't want to generate a `linalg.fill` to avoid a dependency of `TensorTransforms` on `Linalg`. In case of a constant, we generate an `arith.constant` + `alloc_tensor` (copy) for the moment

[2022-08-22 08:45] matthias-springer commented on #10129
This change provides a bufferization path if not vectorized: https://reviews.llvm.org/D132355

[2022-08-22 18:31] rsuderman commented on #10091
Should be a pretty easy fix, we will just need to see what changed for TFLite's flex ops.

[2022-08-22 18:32] rsuderman commented on #10138
TOSA's quantization_info was migrated to a different attribute type. If you update your `iree-import-tflite` you should get a newer version of the tool using the updated attribute type.

[2022-08-22 18:32] rsuderman commented on #10138
@Theoo1997 if you can verify the new version works, add a comment and I can close.

[2022-08-22 18:50] pzread opened #10155 "Output the compile args from iree_bytecode_module"
The CMake rule `iree_bytecode_module` not only takes the compile args from the caller but also adds some flags by itself to build the modules.

It will help people debug the issues of modules if `iree_bytecode_module` can dump the complete compile flags.

[2022-08-22 18:52] GMNGeoffrey opened #10156 "rng_uniform lowering to vmvx has undefined behavior"
When running `tests/e2e/xla_ops:check_vmvx_local-task_rng_uniform.mlir` with ubsan internally, I'm hitting:

`UndefinedBehaviorSanitizer: signed-integer-overflow runtime/src/iree/vm/ops.h:47`

@kuhar, who I believe is looking into ubsan errors. That's the VM mul:

`static inline int32_t vm_mul_i32(int32_t lhs, int32_t rhs) { return lhs * rhs; }`

Seems like the lowering to vmvx for RNG uniform is

[2022-08-22 19:35] ScottTodd commented on #10142
Summarizing some side discussions and reading through the WebGPU history:

* Some WebGPU backends assume fast-math (including `-ffinite-math-only`), so including `isInf()` / `isNan()` builtins would be misleading. An extension may allow applications to opt-in to stricter checks eventually.
* Further, some WebGPU backends may not even support non-finite values, so any polyfill we or Tint can genera

[2022-08-22 19:55] kuhar commented on #10156
I guess the question is whether we consider the behavior defined on the level of `ops.h`. If yes, we'd have to update almost all functions in `ops.h`; if not, the lowering needs to operate on wider types or insert some checks .

Can we reproduce this with CMake? I mean just the generated code that ends up calling `vm_mul_i32`, not the runtime ubsan warning.

[2022-08-22 19:57] benvanik commented on #10156
yeah, this is something that'd have to be fixed in the user program - we're seeing the warning at runtime pointing at the vm ops but the issue is in the user code we are running and not the op itself (kind of like how in a normal C program ubsan would point at the line of C and the user would fix that, not the x86 instruction produced by their compiler).

[2022-08-22 20:00] benvanik commented on #10142
Unfortunate that it's not just an optional performance mode :(

The worst part is going to be when user-provided programs require NANs. In some cases we could try to remove them at a higher level but may still want to error out and require a flag to override - and that's only in cases we could detect - nothing stops a user from passing in NANs as input values at runtime. So sounds like we're going

[2022-08-22 20:02] benvanik commented on #10142
(I'm wondering too if we'd have the same issue on random Vulkan devices even when the compiler access IsNan)

[2022-08-22 20:09] GMNGeoffrey commented on #10156
The "user program" here is just a test calling `mhlo.rng`: https://github.com/iree-org/iree/blob/main/tests/e2e/xla_ops/rng_uniform.mlir. I don't see anything there that I would expect to cause an overflow.

Yes this test runs with CMake in OSS also

[2022-08-22 20:13] benvanik commented on #10156
I'm not sure it's vmvx-specific, just that vmvx is the only place we can see this happen with ubsan - if it's a multiply that needs a full 64-bit result and not being lowered to that then I'd suspect that's the case on all backends.

[2022-08-22 20:17] GMNGeoffrey opened #10157 "Add 32-bit android arm build"
We have this build internally and it's pretty common that we hit undefined behavior or similar bugs. We should have a build for this upstream so we don't only hit these issues on integration.

[2022-08-22 20:28] ScottTodd commented on #10145
I'm trying to narrow down where the working and broken programs are differing, and I think it's in implicit / inferred storage classes, since what's explicitly included in the .spvasm files seems pretty similar. Tint has some code like `DefaultAccessForStorageClass()`, and I imagine there is some analysis of reads and writes that is being ran if we aren't explicit (but I haven't traced through the

[2022-08-22 20:31] benvanik commented on #10145
+1 to digging in, and those decorations would be nice. We'll need access info anyway for the host side as we need to define the access type on the binding: https://www.w3.org/TR/webgpu/#enumdef-gpubufferbindingtype needs `read-only-storage` or `storage` and it's used for making implementations aware of data hazards.

[2022-08-22 20:54] ScottTodd commented on #10142
Huh, I passed `-debug` to see where `spv.IsNan` is introduced in my test (likely in arith/math), but the compiler crashed in the verifier
[code]
(more logs and complete callstack: https://gist.github.com/ScottTodd/2b9f15910a1c1b5304ff59c19119eef5)

Maybe that should be optional? Or I should debug through https://github.com/iree-org/iree/issues/10145 first (adding explicit storage classes?)

[2022-08-22 21:09] ScottTodd commented on #10142
Commenting out the verifier that was crashing, I get debug output that points to [`CmpFOpNanNonePattern` in `ArithmeticToSPIRV.cpp`](https://github.com/llvm/llvm-project/blob/9a478d523239fe0d01f32ecc8e64e88d1809fd8e/mlir/lib/Conversion/ArithmeticToSPIRV/ArithmeticToSPIRV.cpp#L806-L822) as the spot introducing NaN checks for that test.
(pattern debug output here: https://gist.github.com/ScottTodd/5

[2022-08-22 21:11] ScottTodd commented on #10142
(And there are likely other places introducing NaNs / NaN checks - that's just one path that I found for a few of our programs and tests. We'll likely need a robust solution for both the intentional NaNs from user code and those that get introduced during regular lowering)

[2022-08-22 21:16] benvanik commented on #10142
I think it's at a higher level - it's the nasty sequence of ordered/unordered compares that get inserted that are the issue (or at least closer to the root).

For example, `%16 = mhlo.compare  EQ, %15, %0 : (tensor<5xf32>, tensor<5xf32>) -> tensor<5xi1>` (heh extra space) results in an `arith.cmpf oeq`, which may end up going down to these (it did back in the day, maybe better now).

Another place

[2022-08-22 21:19] ScottTodd commented on #10142
Ah, good point. Ideally we'd address this at each level, and generating less comparisons would help across the board.

FWIW, here's where the `CmpFOpNanNonePattern` pattern was added: https://reviews.llvm.org/D95237

[2022-08-22 21:33] benvanik commented on #10142
Yeah, that cmp/select/cmp/select dance is really bad as IIRC LLVM/other backends can't/don't practically ever simplify that again while retaining the same semantics. The behavior that nearly everything uses is "return the non-nan value if either value is nan" (GLSL min, OpenCL fminf, C/C++ fminf, CUDA fminf, numpy.fmin, AVX minps, etc), aka "between a NaN and a numeric value, the numeric value is

[2022-08-22 21:40] ScottTodd commented on #10142
Cool! I got some promising results by just commenting out https://github.com/iree-org/iree/blob/d4ba93064d9fd62a9a772ed096e2144656beb572/compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp#L157

![image](https://user-images.githubusercontent.com/4010439/186023605-ee55fa0e-ec3a-4406-9a6a-26f753004681.png)

my `is_nan.mlir` test that uses `arith.minf` still fails at
[code]
but that's tracked in http

[2022-08-22 21:44] benvanik commented on #10142
We add that pass on all backends and I'm not sure we should - would be good to get a codegen person to look into it.

[2022-08-22 21:50] ScottTodd commented on #10142
Ah, `createArithmeticExpandOpsPass` came from an LLVM integrate (back with the old process where people outside our team did those for us :P): https://github.com/iree-org/iree/commit/f7a3c8c1290b21605c9a47800a1d039f37e3ca6c. Definitely worth a closer look from someone more familiar with codegen. I can also try removing it to see what breaks.

[2022-08-22 21:53] benvanik opened #10161 "Support merging multiple top-level builtin.modules with the same/no name and attrs."
In certain workflows it can be useful to pass in multiple modules to `iree-compile` in order to produce one output vmfb with all functions from those modules, effectively performing static linking them. An example workflow is when using `--iree-hal-dump-executable-benchmarks-to=-` where one module is produced per dispatch executable: producing a single vmfb with all (or a subset) of benchmarks wou

[2022-08-22 23:01] antiagainst commented on #10145
Yeah the above error seems to indicate there are deduction logic inside Tint that should be improved. Those `NonWritable`/`NonReadable` is not required for SPIR-V to be valid. Though we can certainly add them using a pass if it helps address the issue; that's not very hard. SPIR-V has this goal of trying to do analysis offline and "attach" the results to avoid driver compilers spending cycles doin

[2022-08-22 23:13] ScottTodd commented on #10145
I see some similar looking issues filed on Tint: https://bugs.chromium.org/p/tint/issues/list?q=storage&can=2

I can try manually adding decorations to the .spvasm that I've been testing with to see if Tint prefers that (thankfully we can hack at IR and dumped files and run passes / tools in isolation - we don't need to jump straight to writing compiler code to test these theories).

[2022-08-22 23:23] antiagainst commented on #10142
Great digging, Scott!!

I'm actually wondering how popular / recent this is. I feel the shader compilation side tends to cater to very old hardware / compiler flows (or even bugs!) for a long time; so we always have those historical baggages lingered on for a long time. Given WebGPU / WGSL is something new; it would actually be good to look it more closely to see how things stands today.  But I do

[2022-08-23 08:11] oroppas opened #10172 "Enabling Python binding on Windows causes build failure"
### What happened?

The compilation of both `compiler\src\iree\compiler\API\python\IREECTransforms.cpp` and `llvm-external-projects\iree-dialects\python\IREEDialectsModule.cpp` failed:

```IREECTransforms.cpp```
[code]

```IREEDialectsModule.cpp```
[code]

### Steps to reproduce your issue

Build with `-DIREE_BUILD_PYTHON_BINDINGS=ON` on Windows with VC++ 19.33.31629

### What component(s) does th

[2022-08-23 08:15] Theoo1997 commented on #10138
@rsuderman thanks for your reply. I've updated iree-import-tflite and now it works.

[2022-08-23 08:15] #10138 closed

[2022-08-23 15:48] ScottTodd commented on #10172
To set expectations a bit:

* We have a few developers actively using Windows for work on the compiler and runtime (but not usually the Python bindings)
  * `-DIREE_BUILD_PYTHON_BINDINGS=ON` has been broken with different error messages on my development machine for months-years
* We only have continuous builds running on Linux, so Windows can break occasionally
* We only publish releases (includi

[2022-08-23 17:37] alliemartens commented on #9383
Hey @KoolJBlack just bumping this up as it's a fairly stale P1. Please update or deprioritize as needed.

[2022-08-23 17:38] alliemartens commented on #2783
@MaheshRavishankar Bumping this up as a stale P1 - please update or deprioritize as needed.

[2022-08-23 17:39] alliemartens commented on #7910
Hey @benvanik this is a stale P1 - can you help review and update or deprioritize as needed?

[2022-08-23 17:54] #10091 closed

[2022-08-23 18:46] MaheshRavishankar commented on #2783
Funny. I was just going to start working on some of this, and was looking for this bug :)

[2022-08-23 20:23] benvanik opened #10175 "Evaluate automatic i64->index conversion via type/numeric range propagation."
Programs we receive via MHLO (from JAX/TF) and likely other frontends will use i64 instead of index for values that should really be indices (dynamic shape dimensions, loop iterators, etc). These take up more memory and require very expensive emulation on hardware that doesn't natively support i64 math or is optimized for i32 math but also loses the semantic meaning of the types (useful for alignm

[2022-08-23 20:42] bjacob opened #10176 "ResolveBufferDescriptors not handling rank-reducing subviews blocks e2e mmt4d tests"
I tried testing vmvx/mmt4d for float32 only as that's supposed to be supported. But e2e matmul tests involve testcases where the K-dimension is 1, and some drop-unit-dims patterns kick in and drop the 1-size dimension and that results in rank-reducing subviews.

rank-reducing subviews are currently explicitly not supported in vmvx:
https://sourcegraph.com/github.com/iree-org/iree@e4dc88c3d1f6bd7d8

[2022-08-23 20:43] bjacob commented on #10176
This blocks #9904

[2022-08-23 21:06] dneto0 commented on #10145
Looking quickly at the SPIR-V assembly, this looks like a Tint bug.  The wrong type is being deduced for the pointer for that `let`

[2022-08-23 21:27] dneto0 commented on #10145
This is crbug.com/tint/1041
We've let that go dormant.

[2022-08-23 21:31] ScottTodd commented on #10145
Ah, nice find, and thanks for looking :)

Can I work around this somehow? I'm fine with making edits to Tint's source for hacking, mostly looking to flush out what else might be blocking us.

[2022-08-23 22:01] harsh-nod opened #10178 "Fusing tensor.pad with consumer for LLVMCPU pipeline"
### What happened?

In order to improve Resnet-50 performance on the CPU, the idea was to fuse the tensor.pad op with its consumers (following what is happening in the SPIR-V pipeline) in the LLVMCPU pipeline.

The first prototype of this is here -
https://github.com/harsh-nod/iree/commit/3250f9d0bfed511448a0015e70c684c51cd7ddea

This works for the following conv example
[code]

But doesn't work f

[2022-08-23 22:11] MaheshRavishankar commented on #10178
@harsh-nod try patching this in https://reviews.llvm.org/D132355

[2022-08-23 22:28] harsh-nod commented on #10178
Thanks! That helps because now tensor.pad is getting bufferized. But we get a new error related to allocations
[code]

[2022-08-23 22:33] MaheshRavishankar commented on #10178
To unblock,you can increase the limit here https://github.com/iree-org/iree/blob/ae72b956ea0701482fb95d170b40ed82e0e4ef46/compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUCheckIRBeforeLLVMConversion.cpp#L19 . Eventually to land this we should just avoid fusion pad with pooling op consumers.

[2022-08-24 02:02] hcindyl opened #10182 "Release candidate tag mismatches with the release API manifest"
### What happened?

Sometimes the release candidate tag is different from the return result from the GH release API

For example in https://github.com/iree-org/iree/releases/tag/candidate-20220823.244

The tagged sha is [dc06d95](https://github.com/iree-org/iree/commit/dc06d95ac82aa92b4e9551421bc3fe63183d1c43), however, the target_commitish from the first entry of https://api.github.com/repos/goog

[2022-08-24 18:02] ScottTodd commented on #4662
I think the change in https://github.com/iree-org/iree/commit/51893996b28d672e6ea56e6c4da7c86d8785059a was enough to enable this. I also audited our usage of `CMAKE_CROSSCOMPILING` and what we have today looks good (no unnecessary restrictions).

[code]

we might want to rename or better document `IREE_HOST_BINARY_ROOT` to better convey "I want to use binary files / tools from this directory inste

[2022-08-24 18:05] Theologis opened #10189 "Lookup the entry point function call (kMainFunctionName)"
### What happened?

I'm trying to run lenet (tflite model) on x86 bare-metal. I've used the samples to build my application. The problem is that my application is stuck on a "if (iree_status_is_ok(status)". Specificity in this one :
[code]
I think the problem is that I am giving wrong  kMainFunctionName. If this is true how I am suppose to find the correct one ?

### Steps to reproduce your issue

[2022-08-24 18:22] GMNGeoffrey commented on #4662
I've also noticed that `IREE_HOST_BINARY_ROOT` actually has to point one directory *above* the root where IREE binaries are. It points to a directory containing a directory called "bin" that has the binaries. Basically it's an IREE install directory. I think we should probably name it based on that. Maybe `IREE_TOOLS_INSTALL`?

[2022-08-24 18:47] hanhanW commented on #9093
closing, this is a dup of https://github.com/iree-org/iree/issues/9660

[2022-08-24 18:47] #9093 closed

[2022-08-24 20:40] hanhanW opened #10194 "Crash in iree-flow-fusion-of-tensor-ops"
I hit a crash in a compilation after integrates. I think there are some bugs related to multiple outputs in the pass.

To repro:

[code]

Run: `iree-opt --iree-flow-fusion-of-tensor-ops repro.mlir`

log:

[code]

It's crash at [here](https://github.com/llvm/llvm-project/blob/611399806923e3e76a04e16bebb1fa7b85354346/mlir/lib/Dialect/Linalg/Transforms/ElementwiseOpFusion.cpp#L795) which triggers an

[2022-08-24 21:31] MaheshRavishankar commented on #10194
Oh, will look into it soon. Thanks for reporting!

[2022-08-24 21:39] alliemartens commented on #10176
@MaheshRavishankar @bjacob Can you help to give this a priority?

[2022-08-24 21:40] alliemartens commented on #10182
@GMNGeoffrey Can you help to triage?

[2022-08-24 21:40] stellaraccident commented on #10176
There's not a fundamental reason for the restriction: was just missing a test see and not wanting to guess.

[2022-08-24 21:41] alliemartens commented on #10189
@not-jenni Can you help to triage this issue?

[2022-08-24 21:42] ScottTodd commented on #10182
Possibly fixed by https://github.com/iree-org/iree/pull/10183 (maybe @hcindyl can confirm after a few releases)

[2022-08-24 21:42] alliemartens commented on #10194
Marking as P1, please downgrade if needed!

[2022-08-24 21:43] hcindyl commented on #10182
yeah, that's why I haven't closed this issue yet. Keep it open for a few releases and see how it goes. :)

[2022-08-24 21:54] mariecwhite opened #10196 "Add focus set models to SHARK Tank"
We've identified some models that we would like to track closely. Some of these are not in the Shark Tank. Can you please add the following:

- [ ] **GPT2 in JAX**: https://github.com/iree-org/iree-jax/tree/main/models/gpt2

- [ ] **RetinaNet-ResNeXT50 800x800**: PyTorch (https://zenodo.org/record/6617981/files/resnext50_32x4d_fpn.pth) or ONNX (https://zenodo.org/record/6617879/files/resnext50_32x

[2022-08-24 22:49] benvanik commented on #4016
The recent FUTEX_WAIT_MULTIPLE (https://lwn.net/Articles/811696/) is another way to solve this as we could have each worker wait on a global futex as well as its own private futex - we could approximate this on Windows and others but I still think abstracting out the multiwait behavior will be the first step.

[2022-08-25 00:48] bjacob commented on #10176
FIxed by #10192

[2022-08-25 00:48] #10176 closed

[2022-08-25 01:48] MaheshRavishankar commented on #10176
I guess we can give it P0 and take credit for closing a P0 bug :P

[2022-08-25 02:47] MaheshRavishankar commented on #10194
Fixed by https://reviews.llvm.org/D132631

[2022-08-25 04:21] mariecwhite opened #10199 "Fix Compiler Flags used in SHARK Tank"
Ensure the compiler flag "--iree-llvm-cpu-target-options=host" is used when compiling all models in SHARK Tank for CPU.

[2022-08-25 04:29] mariecwhite opened #10200 "Add metadata to models in Shark Tank"
For all models in the Shark Tank, please add and log the metadata in [this sheet](https://docs.google.com/spreadsheets/d/1a78kfOcp4k9i7sUo-NB0CpsIWCJNL2dllDzB7VXo4YA/edit?resourcekey=0-7tAKlY3iDTG6Tc_u78-6BQ#gid=0). Specifically: data type, param count, tags and comments.

[2022-08-25 04:39] mariecwhite opened #10201 "Log config and runtime details of each benchmark in Shark Tank"
For each benchmark run, please include in the results:
- details about tuning config, compiler flags used, etc.
- details about runtime parameters e.g. number of threads used
- any useful output, traces, and log files.

[2022-08-25 16:19] PhaneeshB commented on #10075
Here are the new locations:
mlir: `https://storage.googleapis.com/shark_tank/latest/alexnet_torch/alexnet_torch.mlir`
input: `https://storage.googleapis.com/shark_tank/latest/alexnet_torch/inputs.npz`
golden_output: `https://storage.googleapis.com/shark_tank/latest/alexnet_torch/golden_out.npz`

[2022-08-25 17:34] not-jenni commented on #10189
I suspect you want to set kMainFunctionName to "conv2d_input", but could you please share the IR if that doesn't fix it so that I can take a look?  Thank you!

[2022-08-25 17:39] benvanik opened #10203 "Support writing perf jitdumps for embedded ELFs."
Today when we load embedded ELFs directly into memory tools like perf don't have any information about them (no symbols, no debug info) as usually this is handled by dlopen. perf has support for jitdumps, which are just text files written to any path with the `*/jit-XXXX.dump` name (where XXXX is the PID of the process) and perf hooks the syscalls to see when the application opens the file.

The s

[2022-08-25 17:53] MaheshRavishankar commented on #10194
Will close it after cherry-picking it into IREE.

[2022-08-25 18:53] MaheshRavishankar opened #10208 "LLVM CPU lowering does not handle multiple roots in a dispatch"
With #10177 reduction with the compatible parallel iteration domains get fused into a single dispatch. For example

[code]

This has two `linalg.generic` operation with "reduction" iterator types. Running this with

[code]

fails with the following error

[code]

This should be supportable. This happens on other backends too, but starting with CPU backend for now.

[2022-08-25 19:02] #10194 closed

[2022-08-25 20:14] MaheshRavishankar commented on #10208
PR #10210 gets past the above error. This is the dump of IR before/after all with the `iree-opt` command in the first comment (https://gist.github.com/MaheshRavishankar/62954bf5ea0eadfa7673002bff4f5125)

Issue now seems to be the op isnt vectorized

[code]

@hanhanW in case he has some quick insights into this while I dig deeper.

[2022-08-25 20:15] MaheshRavishankar commented on #10208
FYI @pzread

[2022-08-25 20:39] benvanik opened #10212 "Avoid contention in iree_task_executor_coordinate when multiple workers simultaneously wake-wait."
With pathologically bad workgroup distributions (such as tiny elementwise dispatches that run on hundreds of workgroups of ns each) it's possible for every worker to wake at nearly the same time, find that they have no work to do, and then attempt to run coordination before going back to sleep. Since coordination holds a lock this can create situations where all workers are blocked on the lock wai

[2022-08-25 20:42] hanhanW commented on #10208
Looks like it failed to meet precondition.

[code]

Might fail in [this check](https://github.com/llvm/llvm-project/blob/caaafe4ae250cdb24d69e0478710b2a01844ee7e/mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp#L137-L156):

[code]

[2022-08-25 21:37] powderluv commented on #10201
@monorimet @dan-garvey

[2022-08-25 21:53] MaheshRavishankar commented on #10208
Thanks @hanhanW , couple of fixes seems to make things work great.

1) This fix to the vectorizer https://github.com/iree-org/iree-llvm-fork/commit/a529938513d1e6e2752e20f717d3f7c7ff6bc7ba
2) Changing
[code]
to
[code]

Then I get the desired output
[code]

Looks kind of like what I am looking for..

[2022-08-25 22:38] alliemartens commented on #9139
From meeting 8/25: Draft PR in place, still looking into backend issues

[2022-08-25 22:40] alliemartens commented on #10178
8/25 meeting: fixed, can close

[2022-08-25 22:40] alliemartens commented on #9537
PR is still in draft as of today

[2022-08-26 08:44] Theoo1997 commented on #10189
Hi [not-jenni](https://github.com/not-jenni),
Yes it seems that iree_runtime_call_initialize_by_name gives me false status and I don't know why.
This is the IR: [IR.txt](https://github.com/iree-org/iree/files/9431224/IR.txt)
You can also reproduce the executable by running the .sh file (before that change the BUILD_DIR correctly). [lenet.tar.gz](https://github.com/iree-org/iree/files/9431284/lenet

[2022-08-26 15:49] ScottTodd commented on #10189
You can also query exported (entry point) function names using the C APIs in https://github.com/iree-org/iree/blob/main/runtime/src/iree/vm/module.h

For example: https://github.com/iree-org/iree/blob/094ec6d183e769893ae6e9ee98e668712a19dd24/experimental/web/sample_dynamic/main.c#L158-L197

[2022-08-26 17:27] alliemartens commented on #10212
Hey @benvanik can you add a priority to this?

[2022-08-26 20:20] MaheshRavishankar commented on #10208
Closed by #10210

[2022-08-26 20:20] #10208 closed

[2022-08-26 21:43] pzread opened #10228 "LinalgFuse failed with the new fusion heuristics"
With the https://github.com/pzread/iree/tree/fusion_heuristics (based on https://github.com/iree-org/iree/pull/10177), the sample below failed the LinalgFuse

With the command `iree-compile --iree-mlir-to-vm-bytecode-module --iree-input-type=none --iree-hal-target-backends=llvm-cpu --iree-llvm-target-triple=x86_64-linux-gnu --iree-llvm-target-cpu-features=host --mlir-print-ir-after-all ./multiuser

[2022-08-26 21:43] pzread commented on #10228
@MaheshRavishankar FYI

[2022-08-26 21:45] MaheshRavishankar commented on #10228
isnt this softmax?

[2022-08-26 21:47] pzread commented on #10228
Yes, it is. I'm not sure why it doesn't work on my side.

[2022-08-26 21:50] pzread commented on #10228
The dump of the failed LinalgFuse
[code]

[2022-08-26 21:52] pzread commented on #10228
Looks like there are two `lowering_config` for some reason... So the LinalgFuse couldn't find the root op.

[2022-08-26 21:55] MaheshRavishankar commented on #10228
Should be fixed by https://github.com/iree-org/iree/commit/cf5a5d5dd507ceb90538fb89fae4dc124d8bdad7 . I am rebasing #10177  on top of main now. Ill add some tests to it as well...

[2022-08-26 22:14] pzread commented on #10228
I think my version is the same as cf5a5d5 + #10177, I'll look deeper. Let me know if you have a workable branch

[2022-08-26 22:20] MaheshRavishankar commented on #10228
rebasing and trying out few examples... Ill update then

[2022-08-26 22:48] MaheshRavishankar commented on #10228
Actually I see whats happening. `TileAndDistributeToWorkgroups` is the cause here. Before that the IR is

[code]

That has only three generic ops. After tile and distribute some ops get replicated

[code]

Need to adapt the logic of fusion in `TileAndDistributeToWorkgroups` to only fuse an op once

[2022-08-26 22:56] pzread commented on #10228
I just realized the same thing. I can try to fix this if you haven't started.

[2022-08-27 00:00] MaheshRavishankar commented on #10228
Fix might be a bit involved though. Definitely worth digging into it for you to understand the issue. We can discuss solutions. I have some ideas, and I can give you pointers

[2022-08-27 00:12] MaheshRavishankar commented on #10228
The `TileAndDistributeToWorkgroups` implements a version of this https://github.com/llvm/llvm-project/blob/main/mlir/lib/Dialect/SCF/Transforms/TileUsingInterface.cpp

Upstream there is a pattern for Tiling and a pattern for TileAndFuse. In IREE I thought only using the Tiling pattern is enough cause we don't have to deal with `scf.for` with destructive updates. We can use `scf.for` with `flow.dis

[2022-08-27 00:31] stellaraccident opened #10230 "Jax einsum compilation failure"
### What happened?

The following Jax program fails to compile:

[code]

### Steps to reproduce your issue

[code]

Command line:
[code]

### What component(s) does this issue relate to?

Frontends

### Version information

Latest pip install of jax+iree

### Additional context

_No response_

[2022-08-27 00:42] stellaraccident commented on #10230
Error message:

[code]

[2022-08-29 02:31] pzread commented on #10228
I was testing a method to fix the duplicate issue in TileAndDistributeToWorkgroups
https://github.com/iree-org/iree/commit/12b2115aea14bffc391e49e721f8d13e4be32e55

It can now tile all generic ops only once. But the same issue occurs in LinalgStrategyTileAndFusePass
[code]

[2022-08-29 06:59] Theologis commented on #10189
Hi [not-jenni](https://github.com/not-jenni),
This is my the IR of the model and the files that I use. Mistakenly I posted it from my private account. Please take a look when you have the time. I going to use inspect_program() that @ScottTodd suggested for debugging porpoise.

[2022-08-29 17:01] MaheshRavishankar commented on #10228
Hey @pzread . Skimmed through what you have, and that is about what right. I think for the use cases in IREE this works. But I was fairly certain the upstream tile + fuse would also have this issue. Basically [this](https://github.com/llvm/llvm-project/blob/6732896bbf0c525d79fbfef7b4b23ef0a56f7862/mlir/lib/Dialect/Linalg/Transforms/FusionOnTensors.cpp#L423) method needs to be deprecated cause it c

[2022-08-29 17:15] pzread commented on #10228
The method you implemented right now seems to be more complete. But I feel like there might be a bug in the worklist loop https://github.com/MaheshRavishankar/iree/commit/1e1236b9ad41438d2de572bbf3dbb6702a583ae0#diff-a2963394002544132b964ee72bc2aa37266aab0c96c6e470960f058aa01953d1R572

Since when looping the worklist, it keeps creating more slices for the tiled producers, the candidate list might

[2022-08-29 17:41] MaheshRavishankar commented on #10228
You are probably right about DFS vs BFS. Ill change it.

[2022-08-29 18:29] #9660 closed

[2022-08-29 18:48] alliemartens commented on #10230
Assigning to @not-jenni and @NatashaKnk to triage while on frontend rotation this week.

[2022-08-29 20:25] pzread opened #10236 "Long compilation time of quantized MobileBert on RISC-V"
Right now the compiler takes ~3mins to compile `MobileBert [int8]` for RV64, which looks abnormal
https://perf.iree.dev/serie?IREE?MobileBertSquad%20%5Bint8%5D%20(TFLite)%20CPU-RV64-Generic%20full-inference%2Cdefault-flags%20%5Bcompilation%3Amodule%3Acompilation-time%5D

And on RV32 it takes ~10mins
https://perf.iree.dev/serie?IREE?MobileBertSquad%20%5Bint8%5D%20(TFLite)%20CPU-RV32-Generic%20full-

[2022-08-29 20:32] pzread commented on #10236
Realized the RV32 takes even longer, updated the issue.

[2022-08-29 21:00] GMNGeoffrey commented on #10236
Looks like this just got a sizable speedup from https://github.com/iree-org/iree/pull/10179. I was seeing twice as long as of this morning

[2022-08-29 22:10] GMNGeoffrey opened #10237 "Investigate slow `build_tf_integrations`"
This job used to take 3 minutes: https://github.com/iree-org/iree/actions/runs/2784967726
Now it's taking 25: https://github.com/iree-org/iree/actions/runs/2951710537

If only we had actual @$##@$ monitoring for this stuff...

[2022-08-30 00:36] GMNGeoffrey commented on #10237
Much fiddling with the GitHub api and `jq` later, I've identified that there was a dramatic slowdown with an update to TF/LLVM/MHLO in https://github.com/iree-org/iree/pull/10180

[2022-08-30 00:49] GMNGeoffrey commented on #10237
Here's the full set of results. This is the latency in seconds of each `build_tf_integrations` job that completed successfully: https://gist.github.com/GMNGeoffrey/5df808b5fabcc38a15d3b5e31cb5985a

Format is `run_number commit_hash latency`. So unsurprisingly we see a big bump after each LLVM integrate, but it usually recovers on the next commit. That's consistent with invalidating a big chunk of

[2022-08-30 00:50] GMNGeoffrey commented on #10237
It looks likely that this commit (or rather its upstream counterpart) is the culprit: https://github.com/iree-org/iree-mhlo-fork/commit/257add0e3cc79dea0ff57e0e11dc847801ab4cac